---
title: About
header__none: header__none
header__about: active
footer__none: footer__none
---
extends layouts/_layout
block content
  .about
    section.about__intro
      .container
        h1 about us
    section.about__journey#our-journey
      .container
        .about__journey__content
          //- .about__journey__decor
          .about__journey__title
            h2 Our Journey
          .about__journey__text
            p The world is shrinking by the second and it instinctively demands Quality and Integrity. The businesses have become proficient and the intensive horse-race to deliver the product in-time with holistic precision.
            p We are the experts in syncing talents and linking businesses. It is critical to achieve the dual expertise and to bring them all together to sustain and succeed. Our highly experienced and immensely talented team have catered to all major industries like Energy, Healthcare, Hospitality, Finance and Telecommunication.
            p Events, these days are a helter-skelter. We are the missing link between these events and Quality, between these events and sustenance. The road we travel leads to you and in turn leads to the world.
    section.about__advantages
      //- .about__advantages__decor
      //-   img(src="img/about/about-advantages.png", alt="")
      //-   img(src="img/about/about-line.png", alt="")
      .container
        .row
          .col-md-3.col-sm-6.col-xs-12
            .about__advantages__block
              .about__advantages__block__img
                img(src="img/about/about-advantages-1.png", alt="")
              .about__advantages__block__text
                span 70+
                p Usefull Sessions
          .col-md-3.col-sm-6.col-xs-12
            .about__advantages__block
              .about__advantages__block__img
                img(src="img/about/about-advantages-1.png", alt="")
              .about__advantages__block__text
                span 65+
                p International Sponsors
          .col-md-3.col-sm-6.col-xs-12
            .about__advantages__block
              .about__advantages__block__img
                img(src="img/about/about-advantages-1.png", alt="")
              .about__advantages__block__text
                span 6k+
                p Regular Crowd
          .col-md-3.col-sm-6.col-xs-12
            .about__advantages__block
              .about__advantages__block__img
                img(src="img/about/about-advantages-4.png", alt="")
              .about__advantages__block__text
                span 35+ 
                p Our Visionary Speakers
    section.about__vision#our-vision
      .container
        .row
          .col-sm-6.col-xs-12
            .about__vision__text
              h2 Our Vision
              p The Events we create and organize is to provide a great experience for our Clients, indeed. However, our Vision just starts here. We ensure it polishes and upgrades your professional life from the very moment you attend our events and beyond.
              p The Business Perspective is to customize and integrate our events as per the Clients’ Industry in- focus. Turnover and Return on Investment(ROI) is a mandatory successor to efficiency and we deliver it. We have a dedicated team to follow-up on our events to not just take feedback and maintain a healthy Customer Relationship Management(CRM), but also to ascertain the takeaways from our events and bring about the positive change in the day-to-day operations.
              
          .col-sm-6.col-xs-12
            .about__vision__img
              img(src="img/about/about-vision-img.png", alt="")
    section.about__committee
      .about__committee__parallax(data-aos="fade-right") Team
      .container
        h2 Key Advisory Committee
          i This section to be updated soon with other members
        .about__committee__content#key-advisory-committee
          .about__committee__block-content.about__committee__block-content-top
            .about__committee__block
              .about__committee__block__info
                div
                  h4 Tim Briggs 
                  b Past President of IOSH
                  p Tim Briggs is a Past President of the Institution of Occupational Safety and Health (IOSH), is currently the Chair of the Professional Standards Committee of IOSH. The Professional Standards Committee oversees educational standards and IOSH accreditation of Health and Safety courses. Prior to that, Tim chaired the Working Group that redesigned the IOSH Core Curriculum. The Core Curriculum assists and guides organisations in developing courses for IOSH accreditation.
                  p Tim is employed at Leeds Beckett University as the Course Director for the BSc Hons Safety Health and Environmental Management Degree, the Post Graduate Diploma in Occupational Safety and Health and MSc in Occupational Safety and Health. He has been involved in many aspects of University initiatives improving Health and Safety, Well Being and Equality and Diversity issues. Furthering Safety Practitioner knowledge and skills in the international arena has allowed Tim to work and develop Health and Safety courses not only in Singapore, but Malaysia and Hong Kong.
                  p Before embarking upon a teaching career, Tim&#39;s career was extraordinarily diverse, working in diverse industrial roles before starting his health and safety career in the rail industry. He holds a Master’s Degree in Training and Development, is a qualified adult teacher as well as holding a Postgraduate Diploma in Occupational Safety and Health.
                  p During his career Tim has progressed many initiatives designed to help improve the knowledge and ability of Safety Practitioners, including being the instigator of the IOSH Mentoring Scheme in 2001. His research interests include Developing Practitioner Leadership Skills, he has developed a model for explaining leadership skills which has attracted interest in many areas. This has resulted from Tim’s research activities which include the practical aspects of Teachers as Leaders. He has also acted as External Advisor to several UK and International Universities developing their Health and Safety courses as well as acting as External Examiner to Universities for both Undergraduate and Post Graduate Health and Safety courses.
                  p He is a regular invited speaker at local national and international safety conferences, on a variety of aspects surrounding safety leadership, safety management, developing people and occupational health and safety, as well as appearing on Gibraltar Television promoting the Occupational Cancer No Time To Lose Campaign for IOSH.
              img(src="img/team/tim.jpg", alt="")
              h4 Tim Briggs 
              p Course Director Programme Leader Leeds Beckett University
              b Past President of IOSH
        h2 Business Development
        .about__committee__content#business-development
          .about__committee__block-content.about__committee__block-content-top
            .about__committee__block
              .about__committee__block__info
                div
                  h4 Sri hari Kamban
                  b “Success entails diligence”
                  p The idea of S&L is a result of such diligence. Sri comes in with a rich experience of Event Management and has been part of organizing B2B Conferences, Exhibitions and Masterclasses across the Globe. After attending Mechanical Engineering, he broke stereotypes and ventured out successfully in Education, Insurance and IT industries for a decade of his proffessional life. Eventually, he chose Event Management as the career option and joined Fleming Group in Jan 2010. He was part of the foundation team establishing the Europe Business for the Company. Sri ended up heading their Energy and Safety Sector in the Bangalore Office. He then had short stints with EBCG and Management Events in the Director role.
                  p With approximately two decades of professional experience, he assembled a team of experts who were looking to bring Z Level quality to Events, worldwide. Thus, S&L!
                  a(href="mailto:Srihari.kamban@syncandlink.com") Srihari.kamban@syncandlink.com
              img(src="img/team/sree.jpg", alt="")
              h4 Sri hari Kamban
              p Energy & Safety Sector
          .about__committee__block-content.about__committee__block-content-bottom
            .about__committee__block
              .about__committee__block__info
                div
                  h4 Arun Veetil
                  b “Process focused; Quality is the consequence”.
                  p S&L’s focus on process to build Trust and Quality, the two strong pillars of the organisation.
                  p A young entrepreneur with a handful of experience in syncing talents and Linking businesses through B2B platforms such as Exhibitions, Conferences, Masterclass, Roadshows across the globe. He holds a Bachelors degree in Business Management and Masters degree in Business Administration. His Journey in the event industry kick started by Joining Fleming Group in June 2011 organising successful events in healthcare &amp; Pharma, Oil &amp; Gas Industry across Europe, US and Jamaica. He was a part of core exhibition team and heading the conference division of Reed Exhibition delivering top class business gathering across MENA region.
                  p Being a co-founder of S&amp;L, Arun brings to table the panache of a Marketeer and the business acumen of a slick Entrepreneur.
                  a(href="mailto:arun.veetil@syncandlink.com") arun.veetil@syncandlink.com
              img(src="img/team/arun.jpg", alt="")
              h4 Arun Veetil
              p Healthcare & Hospitality Sector
    section.about__statement#statement
      .about__statement__parallax(data-aos="fade-right") Statement
      .container
        .about__statement__title
          h4 The Mission Statement
          h2 “One to live for and live by ”
          p Brick by brick, stone by stone we have build the values of Integrity, Quality, Perseverance and Trust to achieve the eventuality – We will be the Numero Uno choice as Events Organizers, worldwide.