---
title: Events Details
header__none: header__none
footer__none: footer__none
---
extends layouts/_layout
block content
  .events_details
    section.events_details__intro
      .container
        .row
          .col-sm-7.col-xs-12
            .events_details__intro__text
              h2
                span Upcoming Events
                | Advanced Shutdown Turnaround and Outage Management Excellence – 2019
              ul
                li 
                  .events_details__intro__text__icon
                    img(src="img/home/euro.png", alt="")
                  | €290
                li 
                  .events_details__intro__text__icon
                    img(src="img/home/locations.png", alt="")
                  | Antwerp, Belgium
                li 
                  .events_details__intro__text__icon
                    img(src="img/home/date.png", alt="")
                  | 23/11/2019 - 27/11/2018
              .events_details__intro__text__btn
                a(href="#request-pop-up" rel="modal:open").btn.btn-primary
                  span Register Now
                a(href="#").btn.btn-secondary Request Agenda 
          .col-sm-5.col-xs-12
            .events_details__intro__img
              svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='1148.000000', height='1098.000000', viewBox='0 0 1148.000000 1098.000000', preserveAspectRatio='xMidYMid meet')
                lineargradient#linear-gradient(x1="0%" y1="12%" x2="100%" y2="88%")
                  stop(offset='0%', stop-color='rgba(61, 48, 243, 0.5)')
                  stop(offset='100%', stop-color='rgba(143, 39, 148, 0.3)')
                image(width='3375', height='1743', xlink:href='img/home/home-bg.jpg', mask='url(#mask-1)')
                rect(mask='url(#mask-1)' x="0" y="0" width="100%" height="100%" fill="url(#linear-gradient)" stroke="black" stroke-width="3")
                defs
                  mask#mask-1
                    g(transform='translate(0.000000,1098.000000) scale(0.100000,-0.100000)', fill='#fff', stroke='none')
                      path(d='M3165 10974 c-283 -17 -430 -27 -550 -40 -990 -103 -1703 -356 -2113 -748 -269 -259 -410 -572 -478 -1066 -22 -157 -25 -650 -6 -845 59 -580 193 -1187 409 -1850 645 -1977 1897 -4100 3135 -5310 647 -634 1225 -987 1778 -1087 149 -26 442 -29 603 -5 842 127 1783 693 2737 1647 1364 1365 2437 3218 2725 4709 56 290 69 434 69 746 1 232 -3 313 -17 405 -64 409 -192 705 -434 1005 -626 776 -1973 1475 -3759 1949 -935 248 -1921 408 -2949 476 -155 11 -1029 21 -1150 14z')
    section.events_details__content
      .events_details__parallax(data-aos="fade-right") Event details
      .container
        .row
          .col-sm-6.col-xs-12
            .events_details__text
              h2 Event Details
              p Solomon Sonya is an Assistant Professor of Computer Science at the United States Air Force Academy. He has a background in software engineering, malware analysis, covert channels, steganography, distributed computing, computer hacking, information protection paradigms, and cyber warfare. Solomon Sonya brings over 10 years of experience in working with industry as a cyber-security engineer and subject matter expert. 
          .col-sm-6.col-xs-12.bottom-xs.flex
            img(src="img/pages/events_details__img.png", alt="")
    section.events_details__triners
      .events_details__triners__parallax(data-aos="fade-right") Event trainer
      .container
        h2 Event Trainers
        .events_details__triners__container
          .row
            .col-md-2.col-xs-12
              .events_details__triners__person
                .events_details__triners__person__img
                  img(src="https://via.placeholder.com/240x240.jpg", alt="")
                h3 Tim Briggs
            .col-md-10.col-xs-12
              .events_details__triners__content
                .events_details__triners__text
                  p The world is shrinking by the second and it instinctively demands Quality and Integrity. The businesses have become proficient and the intensive horse-race to deliver the product in-time with holistic precision.
                  p We are the experts in syncing talents and linking businesses. It is critical to achieve the dual expertise and to bring them all together to sustain and succeed. Our highly experienced and immensely talented team have catered to all major industries like Energy, Healthcare, Hospitality, Finance and Telecommunication.
                  p Events, these days are a helter-skelter. We are the missing link between these events and Quality, between these events and sustenance. The road we travel leads to you and in turn leads to the world. Show More...
                .events_details__triners__slider
                  h4 Testimonials
                  .swiper-container.swiper-events_details
                    .swiper-wrapper
                      .swiper-slide
                        .events_details__triners__slider__slide
                          p The world is shrinking by the second and it instinctively demands Quality and Integrity. The businesses have become proficient and the intensive horse-race to deliver the product in-time with holistic precision.
                          strong Deepa Arora
                          span Founder
                      .swiper-slide
                        .events_details__triners__slider__slide
                          p The world is shrinking by the second and it instinctively demands Quality and Integrity. The businesses have become proficient and the intensive horse-race to deliver the product in-time with holistic precision.
                          strong Deepa Arora
                          span Founder
                      .swiper-slide
                        .events_details__triners__slider__slide
                          p The world is shrinking by the second and it instinctively demands Quality and Integrity. The businesses have become proficient and the intensive horse-race to deliver the product in-time with holistic precision.
                          strong Deepa Arora
                          span Founder
                    .swiper-pagination.swiper-pagination-events_details
    section.events_details__gallery
      .events_details__gallery__parallax(data-aos="fade-right") Event gallery
      .container
        h2 Event Trainers
        .row
          .col-md-4.col-sm-6.col-xs-12
            .events_details__gallery__block
              img(src="https://via.placeholder.com/360x245.png", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .events_details__gallery__block
              img(src="https://via.placeholder.com/360x245.png", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .events_details__gallery__block
              img(src="https://via.placeholder.com/360x245.png", alt="")
              