---
title: Events Details
header__none: header__none
footer__none: footer__none
---
extends layouts/_layout
block content
  .events_details
    section.events_details__intro
      .container
        .row
          .col-sm-7.col-xs-12
            .events_details__intro__text
              h2
                span Upcoming Events
                | Advanced Shutdown Turnaround and Outage Management Excellence – 2019
              ul
                li 
                  .events_details__intro__text__icon
                    img(src="img/home/euro.png", alt="")
                  | €290
                li 
                  .events_details__intro__text__icon
                    img(src="img/home/locations.png", alt="")
                  | Antwerp, Belgium
                li 
                  .events_details__intro__text__icon
                    img(src="img/home/date.png", alt="")
                  | 23/11/2019 - 27/11/2018
              .events_details__intro__text__btn
                a(href="#request-pop-up" rel="modal:open").btn.btn-primary
                  span Register Now
                a(href="#").btn.btn-secondary Request Agenda 
          .col-sm-5.col-xs-12
            .events_details__intro__img
              svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='1148.000000', height='1098.000000', viewBox='0 0 1148.000000 1098.000000', preserveAspectRatio='xMidYMid meet')
                lineargradient#linear-gradient(x1="0%" y1="12%" x2="100%" y2="88%")
                  stop(offset='0%', stop-color='rgba(61, 48, 243, 0.5)')
                  stop(offset='100%', stop-color='rgba(143, 39, 148, 0.3)')
                image(width='3375', height='1743', xlink:href='img/home/home-bg.jpg', mask='url(#mask-1)')
                rect(mask='url(#mask-1)' x="0" y="0" width="100%" height="100%" fill="url(#linear-gradient)" stroke="black" stroke-width="3")
                defs
                  mask#mask-1
                    g(transform='translate(0.000000,1098.000000) scale(0.100000,-0.100000)', fill='#fff', stroke='none')
                      path(d='M3165 10974 c-283 -17 -430 -27 -550 -40 -990 -103 -1703 -356 -2113 -748 -269 -259 -410 -572 -478 -1066 -22 -157 -25 -650 -6 -845 59 -580 193 -1187 409 -1850 645 -1977 1897 -4100 3135 -5310 647 -634 1225 -987 1778 -1087 149 -26 442 -29 603 -5 842 127 1783 693 2737 1647 1364 1365 2437 3218 2725 4709 56 290 69 434 69 746 1 232 -3 313 -17 405 -64 409 -192 705 -434 1005 -626 776 -1973 1475 -3759 1949 -935 248 -1921 408 -2949 476 -155 11 -1029 21 -1150 14z')
    section.events_details__content
      //- .events_details__content__decor
      //-   span
      //-   span
      //-   span
      //-   span
      //-   img(src="img/pages/line.png", alt="")
      .events_details__parallax(data-aos="fade-right") Event details
      .container
        .row
          .col-sm-6.col-xs-12
            .events_details__text
              h2 Event Details
              p Solomon Sonya is an Assistant Professor of Computer Science at the United States Air Force Academy. He has a background in software engineering, malware analysis, covert channels, steganography, distributed computing, computer hacking, information protection paradigms, and cyber warfare. Solomon Sonya brings over 10 years of experience in working with industry as a cyber-security engineer and subject matter expert. 
          .col-sm-6.col-xs-12.bottom-xs.flex
            img(src="img/pages/events_details__img.png", alt="")
    section.events_details__triners
      .events_details__triners__parallax(data-aos="fade-right") Event trainer
      .container
        h2 Event Trainers
        .events_details__triners__img
          .events_details__triners__photo
            img(src="https://via.placeholder.com/440x340.png", alt="")
        .events_details__triners__text
          h3 Tim Briggs
          ol
            li 1. 10 years as a safety professional in the rail, education, research and development, defense and construction industries.
            li 2. Chaired the IOSH Mentoring Working Group and Chaired the IOSH Higher Education Working Group updating and modernizing the IOSH Core Curriculum.
            li 3. Developed the IOSH mentor scheme and subsequent training for IOSH mentors. Experienced mentor. Has successfully mentored many practitioners through the IOSH IPD process.
            li 4. Vastly experienced in designing developing and delivering learning packages including distance learning modules.
            li 5. Is now one of the UCU TU safety representatives on the University Safety Committee.
            li 6. Was awarded the IOSH President&#39;s Distinguished Service Award in 2010 followed by the Presidents Silver Award during 2012.
            li 7. Was awarded the Inspirational Tutor of the Year at Leeds Metropolitan University in 2012. This award was given as a result of being proposed by current and former students.
          p Tim Briggs is a Past President of the Institution of Occupational Safety and Health (IOSH), is currently the Chair of the Professional Standards Committee of IOSH. The Professional Standards Committee oversees educational standards and IOSH accreditation of Health and Safety courses. Prior to that, Tim chaired the Working Group that redesigned the IOSH Core Curriculum. The Core Curriculum assists and guides organisations in developing courses for IOSH accreditation. Tim is employed at Leeds Beckett University as the Course Director for the BSc Hons Safety Health and Environmental Management Degree, the Post Graduate Diploma in Occupational Safety and Health and MSc in Occupational Safety and Health. He has been involved in many aspects of University initiatives improving Health and Safety, Well Being and Equality and Diversity issues. Furthering Safety Practitioner knowledge and skills in the international arena has allowed Tim to work and develop Health and Safety courses not only in Singapore, but Malaysia and Hong Kong. Before embarking upon a teaching career, Tim&#39;s career was extraordinarily diverse, working in diverse industrial roles before starting his health and safety career in the rail industry. He holds a Master’s Degree in Training and Development, is a qualified adult teacher as well as holding a Postgraduate Diploma in Occupational Safety and Health. During his career Tim has progressed many initiatives designed to help improve the knowledge and ability of Safety Practitioners, including being the instigator of the IOSH Mentoring Scheme in 2001. His research interests include Developing Practitioner Leadership Skills, he has developed a model for explaining leadership skills which has attracted interest in many areas. This has resulted from Tim’s research activities which include the practical aspects of Teachers as Leaders. He has also acted as External Advisor to several UK and International Universities developing their Health and Safety courses as well as acting as External Examiner to Universities for both Undergraduate and Post Graduate Health and Safety courses. He is a regular invited speaker at local national and international safety conferences, on a variety of aspects surrounding safety leadership, safety management, developing people and occupational health and safety, as well as appearing on Gibraltar Television promoting the Occupational Cancer No Time To Lose Campaign for IOSH. 
          p IMPORTANT TOPICS of the Training
          ul
            li Introduction – Getting to know each other and describing their experience
            li Health and Safety – The real significance – An examination of Business Benefits – Business Costs – Damage to Business and Personal Reputations
            li Evolving as the Safety Leader - An examination of the Role of the Safety Leader How to develop practical leadership and developing the required relationships Creating a Safety Culture - Developing Good Habits
            li Working internally and Externally – An examination of who you would involve people wise, how and why
            li The Role of Ergonomics - Occupational Health – Wellbeing – 
            li The Human Factors – Understanding Human Error – Learning Training and Reflection - Managing Change 
            li Identifying The Hazards – Physical Hazards – Psychological Hazards – Psycho Social Hazards
            li Role of Risk Management – Practical Scenario Based Risk Assessment and its uses
            li Achieving Health and Safety Excellence – Responding to failure – Business Continuity Planning
    section.events_details__gallery
      //- .events_details__gallery__decor
      //-   img(src="img/about/about-location.png", alt="")
      //-   img(src="img/about/about-line.png", alt="")
      //-   span
      .events_details__gallery__parallax(data-aos="fade-right") Event gallery
      .container
        h2 Event Trainers
        .row
          .col-md-4.col-sm-6.col-xs-12
            .events_details__gallery__block
              img(src="https://via.placeholder.com/360x245.png", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .events_details__gallery__block
              img(src="https://via.placeholder.com/360x245.png", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .events_details__gallery__block
              img(src="https://via.placeholder.com/360x245.png", alt="")
              