---
title: Manage
---
extends layouts/_layout
block content
  .manage
    include ./admin-layouts/_aside
    .manage__content
      include ./admin-layouts/_header
      .container
        .manage__title
          h1 Manage Event - 32
          a(href="#").btn.btn-primary.create-event-add
            span
              i.icon.icon-plus
              | Create Event
        ul.breadcrumbs
          li
            a(href="#") Dashboard
          li
            a(href="#") Manage Event
        .manage__statistics
          .row
            .col-md-3.col-sm-6.col-xs-12
              .manage__statistics__block
                .manage__statistics__block__img
                  img(src="img/manage/active-events.png", alt="")
                .manage__statistics__block__text
                  p Active Events
                  span 32
            .col-md-3.col-sm-6.col-xs-12
              .manage__statistics__block
                .manage__statistics__block__img
                  img(src="img/manage/speakers.png", alt="")
                .manage__statistics__block__text
                  p Speakers
                  span 8
            .col-md-3.col-sm-6.col-xs-12
              .manage__statistics__block
                .manage__statistics__block__img
                  img(src="img/manage/total-registrations.png", alt="")
                .manage__statistics__block__text
                  p Total Registrations
                  span 980
            .col-md-3.col-sm-6.col-xs-12
              .manage__statistics__block
                .manage__statistics__block__img
                  img(src="img/manage/total-inquiry.png", alt="")
                .manage__statistics__block__text
                  p Total Inquiry
                  span 280
        .manage__table
          .manage__table__content
            table.table
              thead
                tr
                  th 
                    span #
                    a(href="#")
                      i.icon.icon-sort-arrows
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="text" id="table__name-search" placeholder="Name")
                  th 
                    span Details
                  th.table__datepicker
                    span date
                    input(type='text' class="datepicker-here" data-language='en')
                    a(href="#")
                      img(src="img/manage/calendar.png", alt="")
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="text" placeholder="VENUE")
                  th 
                    span Event fee
                  th 
                    span Delegate Fee
                  th 
                    span Administration Fee
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="text" placeholder="TRAINER")
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="text" placeholder="Assignee")
                  th
                    span Images 
                  th.table__drop-down.drop-down--open
                    span status
                    a(href="#")
                      i.icon.icon-sort-arrows
                    ul
                      li
                        a(href="#").is-active Open
                      li
                        a(href="#") Closed
                  th
              tbody
                tr.open
                  td 
                    p 01
                  td 
                    p Marketing Conferencee 
                  td 
                    p Lorem ipsum dolor sit amet,
                  td 
                    a(href="#") 
                      p 15 Jun 2019 - 28 Jun 2019	
                  td 
                    p Bratislava, Slovakia
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td 
                    p Rory Conway
                  td 
                    p Vaishakh
                  td 
                    .table__gallery
                      a(href="https://via.placeholder.com/250x50.png" data-fancybox="gallery")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                      a(href="https://via.placeholder.com/350x50.png" data-fancybox="gallery")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                        i.icon.icon-more
                      a(href="https://via.placeholder.com/250x50.png" data-fancybox="gallery")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                      a(href="https://via.placeholder.com/250x50.png" data-fancybox="gallery")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                  td 
                    a(href="#").btn.btn-open Open
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr.open
                  td 
                    p 02
                  td 
                    p Marketing Conferencee 
                  td 
                    p Lorem ipsum dolor sit amet,
                  td 
                    a(href="#") 
                      p 15 Jun 2019 - 28 Jun 2019	
                  td 
                    p Bratislava, Slovakia
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td 
                    p Rory Conway
                  td 
                    p Vaishakh
                  td 
                    .table__gallery
                      a(href="https://via.placeholder.com/250x50.png" data-fancybox="gallery1")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                      a(href="https://via.placeholder.com/350x50.png" data-fancybox="gallery1")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                        i.icon.icon-more
                  td 
                    a(href="#").btn.btn-open Open
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 03
                  td 
                    p Marketing Conferencee 
                  td 
                    p Lorem ipsum dolor sit amet,
                  td 
                    a(href="#") 
                      p 15 Jun 2019 - 28 Jun 2019	
                  td 
                    p Bratislava, Slovakia
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td 
                    p Rory Conway
                  td 
                    p Vaishakh
                  td 
                    .table__gallery
                      a(href="https://via.placeholder.com/250x50.png" data-fancybox="gallery2")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                      a(href="https://via.placeholder.com/350x50.png" data-fancybox="gallery2")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                        i.icon.icon-more
                  td 
                    a(href="#").btn.btn-closed Closed
                  td.table__drop-down.drop-down--open 
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 04
                  td 
                    p Marketing Conferencee 
                  td 
                    p Lorem ipsum dolor sit amet,
                  td 
                    a(href="#") 
                      p 15 Jun 2019 - 28 Jun 2019	
                  td 
                    p Bratislava, Slovakia
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td 
                    p Rory Conway
                  td 
                    p Vaishakh
                  td 
                    .table__gallery
                      a(href="https://via.placeholder.com/250x50.png" data-fancybox="gallery3")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                      a(href="https://via.placeholder.com/350x50.png" data-fancybox="gallery3")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                        i.icon.icon-more
                  td 
                    a(href="#").btn.btn-closed Closed
                  td.table__drop-down.drop-down--open 
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 05
                  td 
                    p Marketing Conferencee 
                  td 
                    p Lorem ipsum dolor sit amet,
                  td 
                    a(href="#") 
                      p 15 Jun 2019 - 28 Jun 2019	
                  td 
                    p Bratislava, Slovakia
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td 
                    p Rory Conway
                  td 
                    p Vaishakh
                  td 
                    .table__gallery
                      a(href="https://via.placeholder.com/250x50.png" data-fancybox="gallery4")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                      a(href="https://via.placeholder.com/350x50.png" data-fancybox="gallery4")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                        i.icon.icon-more
                  td 
                    a(href="#").btn.btn-closed Closed
                  td.table__drop-down.drop-down--open 
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 06
                  td 
                    p Marketing Conferencee 
                  td 
                    p Lorem ipsum dolor sit amet,
                  td 
                    a(href="#") 
                      p 15 Jun 2019 - 28 Jun 2019	
                  td 
                    p Bratislava, Slovakia
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td 
                    p Rory Conway
                  td 
                    p Vaishakh
                  td 
                    .table__gallery
                      a(href="https://via.placeholder.com/250x50.png" data-fancybox="gallery5")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                      a(href="https://via.placeholder.com/350x50.png" data-fancybox="gallery5")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                        i.icon.icon-more
                  td 
                    a(href="#").btn.btn-closed Closed
                  td.table__drop-down.drop-down--open 
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 07
                  td 
                    p Marketing Conferencee 
                  td 
                    p Lorem ipsum dolor sit amet,
                  td 
                    a(href="#") 
                      p 15 Jun 2019 - 28 Jun 2019	
                  td 
                    p Bratislava, Slovakia
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td
                    p 2515 €
                  td 
                    p Rory Conway
                  td 
                    p Vaishakh
                  td 
                    .table__gallery
                      a(href="https://via.placeholder.com/250x50.png" data-fancybox="gallery6")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                      a(href="https://via.placeholder.com/350x50.png" data-fancybox="gallery6")
                        img(src="https://via.placeholder.com/50x50.png" alt="")
                        i.icon.icon-more
                  td 
                    a(href="#").btn.btn-closed Closed
                  td.table__drop-down.drop-down--open 
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete





    a(href="#warning" rel="modal:open").manage__create--bg
    .manage__create
      .manage__create__header
        a(href="#warning" rel="modal:open")
          i.icon.icon-angle-pointing
          | Create Event
      form.manage__create__content
        .manage__create__form.manage__form
          .manage__form__title
            h3 
              span 01
              | Event Details
            p Mandatory Fields
          .manage__form__input
            input(type="text" id="event-name" name="event-name" required)
            label(for="event-name") Event Name
          .manage__form__input.manage__form__input--select
            .select-country
              span.point
              select#select-country(required)
                option(value="") Venue
                option(value="1") Venue 2
                option(value="2") Venue 3
            .select-state
              span.point
              select#select-state(required)
                option(value="") Select Country
                option(value="1") Angola2
                option(value="2") România
                option(value="3") România3
                option(value="4") România
          .manage__form__datepicker
            .manage__form__datepicker__block
              input(type='text' id="event-start-date" class="datepicker-create_event" data-language='en')
              label(for="event-start-date") Event Start Date
              a(href="#")
                img(src="img/manage/calendar.png", alt="")
            .manage__form__datepicker__block
              input(type='text' id="event-end-date" class="datepicker-create_event" data-language='en')
              label(for="event-end-date") Event End Date
              a(href="#")
                img(src="img/manage/calendar.png", alt="")
          .manage__form__image
            .manage__form__image__block.manage__form__image__block--add
              input(type="file" id="file" name="file").file-image
              span
                img(src="", alt="")
              p
                a(href="#")
                  i.icon.icon-plus
                  | Upload Image
            .manage__form__image__block.manage__form__image__block--add
              input(type="file" id="file-2" name="file-2").file-image
              span
                img(src="", alt="")
              p
                a(href="#") 
                  i.icon.icon-plus
                  | Upload Image
            .manage__form__image__block.manage__form__image__block--add
              input(type="file" id="file-3" name="file-3").file-image
              span
                img(src="", alt="")
              p
                a(href="#") 
                  i.icon.icon-plus
                  | Upload Image
            .manage__form__image__block.manage__form__image__block--add
              input(type="file" id="file-4" name="file-4").file-image
              span
                img(src="", alt="")
              p
                a(href="#") 
                  i.icon.icon-plus
                  | Upload Image
          .manage__form__description
            //- textarea(id="description-1" name="description-1" required)
            //- label(for="description-1") Description
            .text-manage__form__description
          .manage__form__fee
            input(type="text" placeholder="Event Fee")
            input(type="text" placeholder="Delegate Fee")
            input(type="text" placeholder="Administration Fee")
          .manage__form__input.select-gear
            select#select-gear
              option(value="") Assign to a user
              option(value="1") Vaishakh
              option(value="2") Tim
              option(value="3") Vaishakh




        .manage__create__form.manage__form
          .manage__form__title
            h3
              span 02
              | Trainer Details
              .manage__form__btn
                a(href="#").manage__form__btn__add-more.add-triner
                  i.icon.icon-plus
                a(href="#").manage__form__btn__delete.remove-triner
                  i.icon.icon-delete
          .manage__form__input
            input(type="text" id="name" name="name" required)
            label(for="name") Name
          .manage__form__description.about-trainer
            //- textarea(id="about-trainer" name="about-trainer" required)
            //- label(for="about-trainer") About Trainer
            .text-about-trainer.text-about-trainer1
          .manage__form__image
            .manage__form__image__block.manage__form__image__block--add
              input(type="file" id="file-5" name="file-5").file-image
              span
                img(src="", alt="")
              p
                a(href="#") 
                  i.icon.icon-plus
                  | Upload Image
          .manage__form__testimonials
            h4 Trainer Testimonials
              .manage__form__btn
                a(href="#").manage__form__btn__add-more
                  i.icon.icon-plus
                a(href="#").manage__form__btn__delete
                  i.icon.icon-delete
            .manage__form__input
              input(type="text" id="name-trainer" name="name-trainer" required)
              label(for="name-trainer") Name
            .manage__form__input
              input(type="text" id="designation" name="designation" required)
              label(for="designation") Designation
            .manage__form__description
              //- textarea(id="testimonial" name="testimonial" required)
              //- label(for="testimonial") Testimonial
              .text-testimonial.text-testimonial1
        .manage__form__footer
          a(href="#warning" rel="modal:open").btn.btn-primary cancel
          button(type="submit").btn.btn-primary
            span create