---
title: Our Services
header__none: header__none
header__ourServices: active
footer__none: footer__none
---
extends layouts/_layout
block content
  .our-services
    section.our-services__intro
      .container
        h1 our-services
    section.our-services__content
      //- .our-services__content__decor
      //-   span
      //-   span
      //-   span
      //-   span
      .container
        .row
          .col-md-4.col-sm-6.col-xs-12
            a.our-services__block(href="#" data-path-hover="M0,19C0,19,80.9279,10,133,10C185.072,10,266,19,266,19C266,19,266,147,266,147C266,147,0,147,0,147C0,147,0,19,0,19C0,19,0,19,0,19")
              .our-services__block__img
                img(src="img/pages/service-01.jpg", alt="")
                svg(viewBox="0 0 266 70" fill="#fff" xmlns="http://www.w3.org/2000/svg")
                  path(id="orange-circle" d="M0,35C0,35,80.9279,46.5,133,46.5C185.072,46.5,266,35,266,35C266,35,266,147,266,147C266,147,0,147,0,147C0,147,0,0,0,0C0,0,0,35,0,35")
              .our-services__block__text
                h2 Masterclass Training Courses
                p According to the recent survey conducted by our R&D team, classroom training is still by far the best way to inculcate the foundation and implementation of new and advanced techniques and strategies in any given industry. S&L is committed to bringing together top experts and advisors in various fields to ensure quality training courses for you and your organization. It's not only our trainers' long experience on the subject that you can benefit from but also our proven and effective delivery of workshops and examinations which will help you excel in your career.
                i “Out Training courses are second to none”
          .col-md-4.col-sm-6.col-xs-12
            a.our-services__block(href="#" data-path-hover="M0,19C0,19,80.9279,10,133,10C185.072,10,266,19,266,19C266,19,266,147,266,147C266,147,0,147,0,147C0,147,0,19,0,19C0,19,0,19,0,19")
              .our-services__block__img
                img(src="img/pages/service-02.jpg", alt="")
                svg(viewBox="0 0 266 70" fill="#fff" xmlns="http://www.w3.org/2000/svg")
                  path(id="orange-circle" d="M0,35C0,35,80.9279,46.5,133,46.5C185.072,46.5,266,35,266,35C266,35,266,147,266,147C266,147,0,147,0,147C0,147,0,0,0,0C0,0,0,35,0,35")
              .our-services__block__text
                h2 In-house Training Courses
                p The Medium and Large enterprises often have a demand of focussed, Company specific Course. Also, the timely influx of New Joiners will need them to polish the theoretical /Practical skill before they get on the job on hand. We expertise in all aspects of Oil &amp; Gas , Chemical, Safety, Pharma and Heavy Industries subject and get the best in the business to visit your Company and render the tailor-made course as per your requirement.
                i “We customize these trainings as per your need”
          .col-md-4.col-sm-6.col-xs-12
            a.our-services__block(href="#" data-path-hover="M0,19C0,19,80.9279,10,133,10C185.072,10,266,19,266,19C266,19,266,147,266,147C266,147,0,147,0,147C0,147,0,19,0,19C0,19,0,19,0,19")
              .our-services__block__img
                img(src="img/pages/service-03.jpg", alt="")
                svg(viewBox="0 0 266 70" fill="#fff" xmlns="http://www.w3.org/2000/svg")
                  path(id="orange-circle" d="M0,35C0,35,80.9279,46.5,133,46.5C185.072,46.5,266,35,266,35C266,35,266,147,266,147C266,147,0,147,0,147C0,147,0,0,0,0C0,0,0,35,0,35")
              .our-services__block__text
                h2 Conferences
                p The Medium and Large enterprises often have a demand of focussed, Company specific Course. Also, the timely influx of New Joiners will need them to polish the theoretical /Practical skill before they get on the job on hand. We expertise in all aspects of Oil &amp; Gas , Chemical, Safety, Pharma and Heavy Industries subject and get the best in the business to visit your Company and render the tailor-made course as per your requirement.
                i “Bridging the gap between Vendors and End Users, without hampering knowledge sharing”
          .col-md-4.col-sm-6.col-xs-12
            a.our-services__block(href="#" data-path-hover="M0,19C0,19,80.9279,10,133,10C185.072,10,266,19,266,19C266,19,266,147,266,147C266,147,0,147,0,147C0,147,0,19,0,19C0,19,0,19,0,19")
              .our-services__block__img
                img(src="img/pages/service-04.jpg", alt="")
                svg(viewBox="0 0 266 70" fill="#fff" xmlns="http://www.w3.org/2000/svg")
                  path(id="orange-circle" d="M0,35C0,35,80.9279,46.5,133,46.5C185.072,46.5,266,35,266,35C266,35,266,147,266,147C266,147,0,147,0,147C0,147,0,0,0,0C0,0,0,35,0,35")
              .our-services__block__text
                h2 Exhibitions
                p The newest addition to our pipeline. From strategic planning to marketing execution and event planning, S&L's R&D team is focusing on designing a plan of activities for energy and pharma summits around Europe and Asia. In need of an expo to showcase your solution? Don't hesitate to get in contact with our team.
                i “Making it big, making it better”
          .col-md-4.col-sm-6.col-xs-12
            a.our-services__block(href="#" data-path-hover="M0,19C0,19,80.9279,10,133,10C185.072,10,266,19,266,19C266,19,266,147,266,147C266,147,0,147,0,147C0,147,0,19,0,19C0,19,0,19,0,19")
              .our-services__block__img
                img(src="img/pages/service-05.jpg", alt="")
                svg(viewBox="0 0 266 70" fill="#fff" xmlns="http://www.w3.org/2000/svg")
                  path(id="orange-circle" d="M0,35C0,35,80.9279,46.5,133,46.5C185.072,46.5,266,35,266,35C266,35,266,147,266,147C266,147,0,147,0,147C0,147,0,0,0,0C0,0,0,35,0,35")
              .our-services__block__text
                h2 Exclusive B2B Meetings
                p These one-to-one, b2b meetings are organized to zero in on the best solutions for your organization's practical issues, no matter what industry you represent. Our first step is to understand, with the help of our advisory committee and patrons, the burning glitches you face and get you in touch with the best solution provider who will help you resolve any concerns or issues. As a bonus, S&L has a prominent industry celebrity presenting during this course.
                i “We decipher your want; Deliver the Solution”