---
title: Our Services
header__none: header__none
footer__none: footer__none
---
extends layouts/_layout
block content
  .our-services
    section.our-services__intro
      .container
        h1 our-services
    section.our-services__content
      //- .our-services__content__decor
      //-   span
      //-   span
      //-   span
      //-   span
      .container
        .row
          .col-md-4.col-sm-6.col-xs-12
            a.our-services__block(href="#" data-path-hover="M0,19C0,19,80.9279,10,133,10C185.072,10,266,19,266,19C266,19,266,147,266,147C266,147,0,147,0,147C0,147,0,19,0,19C0,19,0,19,0,19")
              .our-services__block__img
                img(src="img/pages/service-01.jpg", alt="")
                svg(viewBox="0 0 266 70" fill="#fff" xmlns="http://www.w3.org/2000/svg")
                  path(id="orange-circle" d="M0,35C0,35,80.9279,46.5,133,46.5C185.072,46.5,266,35,266,35C266,35,266,147,266,147C266,147,0,147,0,147C0,147,0,0,0,0C0,0,0,35,0,35")
              .our-services__block__text
                h2 Masterclass Trainings
                p As per the recent Survey by a leading agency, classroom Training is still by far the best way to inculcate the foundation and implement the advanced developments in any given Industry. Our Public Trainings commits to bring to table the top experts in the field to ensure quality. It’s not just their experience which is taken in regard but also their effectiveness to deliver the Subject with proven workshops and examinations.
                i “Out Trainings are second to none”
          .col-md-4.col-sm-6.col-xs-12
            a.our-services__block(href="#" data-path-hover="M0,19C0,19,80.9279,10,133,10C185.072,10,266,19,266,19C266,19,266,147,266,147C266,147,0,147,0,147C0,147,0,19,0,19C0,19,0,19,0,19")
              .our-services__block__img
                img(src="img/pages/service-02.jpg", alt="")
                svg(viewBox="0 0 266 70" fill="#fff" xmlns="http://www.w3.org/2000/svg")
                  path(id="orange-circle" d="M0,35C0,35,80.9279,46.5,133,46.5C185.072,46.5,266,35,266,35C266,35,266,147,266,147C266,147,0,147,0,147C0,147,0,0,0,0C0,0,0,35,0,35")
              .our-services__block__text
                h2 In-house Trainings
                p The Medium and Large enterprises often have a demand of focussed, Company specific Course. Also, the timely influx of New Joiners will need them to polish the theoretical /Practical skill before they get on the job on hand. We expertise in all aspects of Oil &amp; Gas , Chemical, Safety, Pharma and Heavy Industries subject and get the best in the business to visit your Company and render the tailor-made course as per your requirement.
                i “We customize these trainings as per your need”
          .col-md-4.col-sm-6.col-xs-12
            a.our-services__block(href="#" data-path-hover="M0,19C0,19,80.9279,10,133,10C185.072,10,266,19,266,19C266,19,266,147,266,147C266,147,0,147,0,147C0,147,0,19,0,19C0,19,0,19,0,19")
              .our-services__block__img
                img(src="img/pages/service-03.jpg", alt="")
                svg(viewBox="0 0 266 70" fill="#fff" xmlns="http://www.w3.org/2000/svg")
                  path(id="orange-circle" d="M0,35C0,35,80.9279,46.5,133,46.5C185.072,46.5,266,35,266,35C266,35,266,147,266,147C266,147,0,147,0,147C0,147,0,0,0,0C0,0,0,35,0,35")
              .our-services__block__text
                h2 Conferences
                p The Medium and Large enterprises often have a demand of focussed, Company specific Course. Also, the timely influx of New Joiners will need them to polish the theoretical /Practical skill before they get on the job on hand. We expertise in all aspects of Oil &amp; Gas , Chemical, Safety, Pharma and Heavy Industries subject and get the best in the business to visit your Company and render the tailor-made course as per your requirement.
                i “We customize these trainings as per your need”
          .col-md-4.col-sm-6.col-xs-12
            a.our-services__block(href="#" data-path-hover="M0,19C0,19,80.9279,10,133,10C185.072,10,266,19,266,19C266,19,266,147,266,147C266,147,0,147,0,147C0,147,0,19,0,19C0,19,0,19,0,19")
              .our-services__block__img
                img(src="img/pages/service-04.jpg", alt="")
                svg(viewBox="0 0 266 70" fill="#fff" xmlns="http://www.w3.org/2000/svg")
                  path(id="orange-circle" d="M0,35C0,35,80.9279,46.5,133,46.5C185.072,46.5,266,35,266,35C266,35,266,147,266,147C266,147,0,147,0,147C0,147,0,0,0,0C0,0,0,35,0,35")
              .our-services__block__text
                h2 Exhibitions
                p This is relatively newer area of focus for us. Nevertheless, our R&amp;D team is relentlessly working on to design a POA. We have Energy and Pharma driven Summits in the pipeline.
                i “Making it big, making it better”
          .col-md-4.col-sm-6.col-xs-12
            a.our-services__block(href="#" data-path-hover="M0,19C0,19,80.9279,10,133,10C185.072,10,266,19,266,19C266,19,266,147,266,147C266,147,0,147,0,147C0,147,0,19,0,19C0,19,0,19,0,19")
              .our-services__block__img
                img(src="img/pages/service-05.jpg", alt="")
                svg(viewBox="0 0 266 70" fill="#fff" xmlns="http://www.w3.org/2000/svg")
                  path(id="orange-circle" d="M0,35C0,35,80.9279,46.5,133,46.5C185.072,46.5,266,35,266,35C266,35,266,147,266,147C266,147,0,147,0,147C0,147,0,0,0,0C0,0,0,35,0,35")
              .our-services__block__text
                h2 Exclusive B2B Meetings
                p These one-on-one meetings are organised to zero-in the best Solution to the practical issues faced in a respective Industry. As a first step we understand from our peers, Advisory Committee and Patrons, the burning glitches faced by them. Then we look at the proven Solution Provider who can match the best resolution for the issue in concern. We also have a prominent Industry Celebrity addressing the gathering during the course.
                i “We decipher your want; Deliver the Solution”