---
title: Our Services
header__none: header__none
footer__none: footer__none
---
extends layouts/_layout
block content
  .our-services
    section.our-services__intro
      .container
        h1 our-services
    section.our-services__content
      .container
        .row
          .col-md-4.col-sm-6.col-xs-12
            .our-services__block
              strong Services - 01
              h2 Masterclass Trainings
              .our-services__block__text
                svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='1148.000000', height='1098.000000', viewBox='0 0 1148.000000 1098.000000', preserveAspectRatio='xMidYMid meet')
                  lineargradient#linear-gradient(x1="0%" y1="12%" x2="100%" y2="88%")
                    stop(offset='0%', stop-color='rgb(112, 112, 112)')
                    stop(offset='100%', stop-color='rgb(112, 112, 112)')
                  rect(mask='url(#mask-1)' x="0" y="0" width="100%" height="100%" fill="url(#linear-gradient)" stroke="black" stroke-width="3")
                  defs
                    mask#mask-1
                      g(transform='translate(0.000000,1098.000000) scale(0.100000,-0.100000)', fill='#fff', stroke='none')
                        path(d='M3165 10974 c-283 -17 -430 -27 -550 -40 -990 -103 -1703 -356 -2113 -748 -269 -259 -410 -572 -478 -1066 -22 -157 -25 -650 -6 -845 59 -580 193 -1187 409 -1850 645 -1977 1897 -4100 3135 -5310 647 -634 1225 -987 1778 -1087 149 -26 442 -29 603 -5 842 127 1783 693 2737 1647 1364 1365 2437 3218 2725 4709 56 290 69 434 69 746 1 232 -3 313 -17 405 -64 409 -192 705 -434 1005 -626 776 -1973 1475 -3759 1949 -935 248 -1921 408 -2949 476 -155 11 -1029 21 -1150 14z')
                p As per the recent Survey by a leading agency, classroom Training is still by far the best way to inculcate the foundation and implement the advanced developments in any given Industry. Our Public Trainings commits to bring to table the top experts in the field to ensure quality. It’s not just their experience which is taken in regard but also their effectiveness to deliver the Subject with proven workshops and examinations.
                i “Out Trainings are second to none”
          .col-md-4.col-sm-6.col-xs-12
            .our-services__block
              strong Services - 02
              h2 In-house Trainings
              .our-services__block__text
                svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='1148.000000', height='1098.000000', viewBox='0 0 1148.000000 1098.000000', preserveAspectRatio='xMidYMid meet')
                  lineargradient#linear-gradient(x1="0%" y1="12%" x2="100%" y2="88%")
                    stop(offset='0%', stop-color='rgb(112, 112, 112)')
                    stop(offset='100%', stop-color='rgb(112, 112, 112)')
                  rect(mask='url(#mask-1)' x="0" y="0" width="100%" height="100%" fill="url(#linear-gradient)" stroke="black" stroke-width="3")
                  defs
                    mask#mask-1
                      g(transform='translate(0.000000,1098.000000) scale(0.100000,-0.100000)', fill='#fff', stroke='none')
                        path(d='M3165 10974 c-283 -17 -430 -27 -550 -40 -990 -103 -1703 -356 -2113 -748 -269 -259 -410 -572 -478 -1066 -22 -157 -25 -650 -6 -845 59 -580 193 -1187 409 -1850 645 -1977 1897 -4100 3135 -5310 647 -634 1225 -987 1778 -1087 149 -26 442 -29 603 -5 842 127 1783 693 2737 1647 1364 1365 2437 3218 2725 4709 56 290 69 434 69 746 1 232 -3 313 -17 405 -64 409 -192 705 -434 1005 -626 776 -1973 1475 -3759 1949 -935 248 -1921 408 -2949 476 -155 11 -1029 21 -1150 14z')
                p The Medium and Large enterprises often have a demand of focussed, Company specific Course. Also, the timely influx of New Joiners will need them to polish the theoretical /Practical skill before they get on the job on hand. We expertise in all aspects of Oil &amp; Gas , Chemical, Safety, Pharma and Heavy Industries subject and get the best in the business to visit your Company and render the tailor-made course as per your requirement.
                i “We customize these trainings as per your need”
          .col-md-4.col-sm-6.col-xs-12
            .our-services__block
              strong Services - 03
              h2 Conferences
              .our-services__block__text
                svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='1148.000000', height='1098.000000', viewBox='0 0 1148.000000 1098.000000', preserveAspectRatio='xMidYMid meet')
                  lineargradient#linear-gradient(x1="0%" y1="12%" x2="100%" y2="88%")
                    stop(offset='0%', stop-color='rgb(112, 112, 112)')
                    stop(offset='100%', stop-color='rgb(112, 112, 112)')
                  rect(mask='url(#mask-1)' x="0" y="0" width="100%" height="100%" fill="url(#linear-gradient)" stroke="black" stroke-width="3")
                  defs
                    mask#mask-1
                      g(transform='translate(0.000000,1098.000000) scale(0.100000,-0.100000)', fill='#fff', stroke='none')
                        path(d='M3165 10974 c-283 -17 -430 -27 -550 -40 -990 -103 -1703 -356 -2113 -748 -269 -259 -410 -572 -478 -1066 -22 -157 -25 -650 -6 -845 59 -580 193 -1187 409 -1850 645 -1977 1897 -4100 3135 -5310 647 -634 1225 -987 1778 -1087 149 -26 442 -29 603 -5 842 127 1783 693 2737 1647 1364 1365 2437 3218 2725 4709 56 290 69 434 69 746 1 232 -3 313 -17 405 -64 409 -192 705 -434 1005 -626 776 -1973 1475 -3759 1949 -935 248 -1921 408 -2949 476 -155 11 -1029 21 -1150 14z')
                p The Medium and Large enterprises often have a demand of focussed, Company specific Course. Also, the timely influx of New Joiners will need them to polish the theoretical /Practical skill before they get on the job on hand. We expertise in all aspects of Oil &amp; Gas , Chemical, Safety, Pharma and Heavy Industries subject and get the best in the business to visit your Company and render the tailor-made course as per your requirement.
                i “We customize these trainings as per your need”
          .col-md-4.col-sm-6.col-xs-12
            .our-services__block
              strong Services - 04
              h2 Exhibitions
              .our-services__block__text
                svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='1148.000000', height='1098.000000', viewBox='0 0 1148.000000 1098.000000', preserveAspectRatio='xMidYMid meet')
                  lineargradient#linear-gradient(x1="0%" y1="12%" x2="100%" y2="88%")
                    stop(offset='0%', stop-color='rgb(112, 112, 112)')
                    stop(offset='100%', stop-color='rgb(112, 112, 112)')
                  rect(mask='url(#mask-1)' x="0" y="0" width="100%" height="100%" fill="url(#linear-gradient)" stroke="black" stroke-width="3")
                  defs
                    mask#mask-1
                      g(transform='translate(0.000000,1098.000000) scale(0.100000,-0.100000)', fill='#fff', stroke='none')
                        path(d='M3165 10974 c-283 -17 -430 -27 -550 -40 -990 -103 -1703 -356 -2113 -748 -269 -259 -410 -572 -478 -1066 -22 -157 -25 -650 -6 -845 59 -580 193 -1187 409 -1850 645 -1977 1897 -4100 3135 -5310 647 -634 1225 -987 1778 -1087 149 -26 442 -29 603 -5 842 127 1783 693 2737 1647 1364 1365 2437 3218 2725 4709 56 290 69 434 69 746 1 232 -3 313 -17 405 -64 409 -192 705 -434 1005 -626 776 -1973 1475 -3759 1949 -935 248 -1921 408 -2949 476 -155 11 -1029 21 -1150 14z')
                p This is relatively newer area of focus for us. Nevertheless, our R&amp;D team is relentlessly working on to design a POA. We have Energy and Pharma driven Summits in the pipeline.
                i “Making it big, making it better”
          .col-md-4.col-sm-6.col-xs-12
            .our-services__block
              strong Services - 05
              h2 Exclusive B2B Meetings
              .our-services__block__text
                svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='1148.000000', height='1098.000000', viewBox='0 0 1148.000000 1098.000000', preserveAspectRatio='xMidYMid meet')
                  lineargradient#linear-gradient(x1="0%" y1="12%" x2="100%" y2="88%")
                    stop(offset='0%', stop-color='rgb(112, 112, 112)')
                    stop(offset='100%', stop-color='rgb(112, 112, 112)')
                  rect(mask='url(#mask-1)' x="0" y="0" width="100%" height="100%" fill="url(#linear-gradient)" stroke="black" stroke-width="3")
                  defs
                    mask#mask-1
                      g(transform='translate(0.000000,1098.000000) scale(0.100000,-0.100000)', fill='#fff', stroke='none')
                        path(d='M3165 10974 c-283 -17 -430 -27 -550 -40 -990 -103 -1703 -356 -2113 -748 -269 -259 -410 -572 -478 -1066 -22 -157 -25 -650 -6 -845 59 -580 193 -1187 409 -1850 645 -1977 1897 -4100 3135 -5310 647 -634 1225 -987 1778 -1087 149 -26 442 -29 603 -5 842 127 1783 693 2737 1647 1364 1365 2437 3218 2725 4709 56 290 69 434 69 746 1 232 -3 313 -17 405 -64 409 -192 705 -434 1005 -626 776 -1973 1475 -3759 1949 -935 248 -1921 408 -2949 476 -155 11 -1029 21 -1150 14z')
                p These one-on-one meetings are organised to zero-in the best Solution to the practical issues faced in a respective Industry. As a first step we understand from our peers, Advisory Committee and Patrons, the burning glitches faced by them. Then we look at the proven Solution Provider who can match the best resolution for the issue in concern. We also have a prominent Industry Celebrity addressing the gathering during the course.
                i “We decipher your want; Deliver the Solution”