---
title: All Pages
---
extends layouts/_layout
block content
  .pages
    .row
      .col-xs-12.center-xs
        h1 All pages
        ul
          li
            a(href="index.html") Home
          li
            a(href="login.html") login
          li
            a(href="reset-password.html") Reset Password
          li
            a(href="manage.html") Manage
