---
title: Reset Password
---
extends layouts/_layout
block content
  .login
    form.login__step#password
      img(src="img/logo-1.png", alt="")
      h2 Reset Password
      p You have requested to reset the password for
      strong vpilatholi@gmail.com
      .login__step__input
        input(type="password" id="password-new" name="password-new" required).login__step__input--possword-new
        label(for="password-new") New Password
      .login__step__input
        input(type="password" id="password-new-retype" name="password-new-retype" required).login__step__input--possword-retype
        label(for="password-new-retype") Retype New Password
      .login__step__submit
        a(href="#").btn.btn-primary
          span Reset my password
    form.login__step.login__step-three#password-changed
      i.icon.icon-checked
      h2 Password Changed
      h3 Your password has been changed successfully
      a(href="login.html") Got o 
        b login page
        i.icon.icon-right-arrow