$black: #000000
$white: #ffffff
$ice-blue: #e1f7fe
$pale-grey: #f8feff
$bright-light-blue: #25c8f8
$very-light-pink: #bdbdbd
$orangey-red: #fd3e39
$black-1: #252525
$tree-green: #3c9e1a
$fresh-green: #73d84e