.about
  overflow: hidden
  &__intro
    background-image: url('../img/about/about__images.jpg')
    +cover
    height: 440px
    position: relative
    +center
    +r(767)
      height: 250px
    .container
      position: relative
      height: 100%
    h1
      background-image: linear-gradient(150deg, #9f9cef, #3d30f3 99%), linear-gradient(to bottom, #7e75bd, #7e75bd)
      font-size: 100px
      font-weight: bold
      line-height: 1
      color: #7e75bd
      -webkit-background-clip: text
      background-clip: text
      -webkit-text-fill-color: transparent
      position: absolute
      bottom: 30%
      left: 3px !important
      right: auto
      display: block
      text-align: center
      text-transform: uppercase
      padding-left: 20px
      +r(767)
        font-size: 50px
  &__journey
    padding-top: 125px
    +r(767)
      padding-top: 40px
    // &__decor
    //   position: absolute
    //   bottom: 25%
    //   right: -60px
    //   width: 24px
    //   height: 24px
    //   border-radius: 100%
    //   display: block
    //   border: 5px solid rgb(125, 206, 160)
    &__content
      position: relative
      display: flex
      justify-content: flex-end
      +r(767)
        flex-direction: column
    &__title
      position: absolute
      top: 50%
      left: 0
      transform: translate(0, -50%)
      max-width: 465px
      min-height: 445px
      width: 100%
      background: $white
      border-radius: 13.2px
      box-shadow: -1.5px 12.4px 48.5px 0 rgba(0, 0, 0, 0.17)
      padding: 75px
      +center-column
      +r(1160)
        position: static
        transform: none
        margin-right: 10px
      +r(1040)
        padding: 40px
      +r(767)
        max-width: 100%
        margin-left: 0
        padding: 20px
        min-height: auto
      h2
        text-align: center
        font-size: 35px
        font-weight: normal
        color: #12114a
        margin-bottom: 40px
      img
        width: 100%
    &__text
      max-width: 925px
      width: 100%
      min-height: 570px
      padding: 50px 70px
      border-radius: 13.2px
      border: 1px solid #12114a
      display: flex
      flex-direction: column
      align-items: flex-end
      justify-content: center
      +r(1160)
        margin-left: 10px
      +r(1040)
        padding: 25px
      +r(767)
        margin-left: 0
        margin-top: 20px
        padding: 20px
        min-height: 100%
      p
        padding-left: 32%
        width: 100%
        font-size: 14px
        font-weight: normal
        line-height: 2.2
        color: #12114a
        padding-bottom: 40px
        display: block
        +r(1160)
          padding-left: 0
        +r(767)
          line-height: 1.6
          padding-bottom: 20px
        &:last-child
          padding-bottom: 0
  &__advantages
    padding: 120px 0
    position: relative
    +r(1040)
      padding: 60px 0 40px
    // &__decor
    //   +r(500)
    //     display: none
    //   img:first-child
    //     position: absolute
    //     left: 40px
    //     top: 60px
    //     width: 170px
    //     +r(1040)
    //       width: 150px
    //       top: 100px
    //   img:last-child
    //     position: absolute
    //     right: 40px
    //     bottom: 80px
    //     width: 60px
    &__block
      +center
      align-items: flex-start
      +r(1040)
        padding-bottom: 30px
      &__img
        margin-right: 31px
        padding-top: 10px
        width: 80px
        +center
        justify-content: flex-end
        img
          height: 53px
      &__text
        max-width: 110px
        span
          font-size: 44px
          display: block
          margin-bottom: 10px
        p
          font-size: 15.8px
          line-height: 1.56
          color: #12114a
  &__vision
    padding: 110px 0
    background-color: #f8f8fa
    +r(767)
      padding: 40px 0
    h2
      font-size: 35px
      font-weight: normal
      color: #12114a
      margin-bottom: 60px
      +r(767)
        margin-bottom: 30px
    p
      font-size: 14px
      font-weight: normal
      line-height: 1.75
      color: #707070
      margin-bottom: 30px
    &__img
      display: flex
      justify-content: flex-end
      align-items: center
      height: 100%
      +r(767)
        justify-content: center
      img
        max-width: 463px
        width: 100%
  &__committee
    padding: 0px 0 110px
    position: relative
    +r(767)
      padding: 0px 0 40px
    .container
      position: relative
    &__parallax
      position: absolute
      right: 13%
      top: -120px
      font-size: 175px
      font-weight: bold
      color: rgba(18, 17, 74, 0.03)
      text-transform: uppercase
      +r(1040)
        font-size: 120px
      +r(767)
        font-size: 50px
        top: -70px
    h2
      font-size: 35px
      font-weight: normal
      color: #12114a
      margin-top: 120px
      margin-bottom: 90px
      +r(767)
        margin-bottom: 40px
        margin-top: 70px
    &__content
      display: flex
      flex-wrap: wrap
      position: relative
      +r(1040)
        justify-content: center
    &__block
      position: relative
      min-height: 265px
      border-radius: 10px
      overflow: hidden
      width: 100%
      padding: 30px 22px
      display: flex
      flex-direction: column
      justify-content: flex-end
      align-items: flex-start
      +r(767)
        margin-bottom: 20px
      &-content
        position: relative
        margin: 0 10px
        margin-bottom: 20px
        width: 100%
        max-width: 235px
        +r(500)
          max-width: 100%
          margin: 0px 0 20px
        &:before
          content: ''
          position: absolute
          background-image: url('../img/dot.png')
          +cover
          width: 180px 
          height: 101px
          display: block
          z-index: -1
          +r(767)
            display: none
        &-top
          &:before
            top: -30px
            right: -30px
        &-bottom
          &:before
            bottom: -30px
            left: -30px
      img
        width: 100%
        height: 100%
        +object-fit(cover)
        position: absolute
        top: 0
        left: 0
        z-index: -1
      h4
        font-size: 18px
        color: $white
        text-shadow: 0px 0.5px 0.5px #000000
      p
        font-size: 14px
        font-weight: 600
        color: $white
        text-shadow: 0px 0.5px 0.5px #000000
  &__statement
    min-height: 522px
    height: 100%
    background-color: #12114a
    +center
    position: relative
    +r(767)
      min-height: 300px
    &__parallax
      position: absolute
      right: 0
      top: 0px
      font-size: 175px
      font-weight: bold
      color: rgba(255, 255, 255, 0.01)
      text-transform: uppercase
      z-index: 1
      +r(1040)
        font-size: 120px
      +r(767)
        font-size: 50px
        top: 50px
    &__title
      padding-top: 100px
      +r(767)
        padding-top: 50px
      h4
        font-size: 35px
        font-weight: normal
        text-align: center
        color: $white
        margin-bottom: 15px
        +r(767)
          font-size: 22px
      h2
        font-size: 50px
        font-weight: bold
        color: $white
        text-align: center
        text-transform: uppercase
        margin-bottom: 40px
        +r(1040)
          font-size: 40px
        +r(767)
          font-size: 30px
      p
        font-size: 18px
        font-weight: normal
        line-height: 1.39
        text-align: center
        color: #a4a1ef
        max-width: 630px
        position: relative
        left: 50%
        transform: translate(-50%)
  &__location
    position: relative
    padding: 130px 0
    display: flex
    justify-content: center
    +r(767)
      padding: 80px 0 40px
    // &__decor
    //   img
    //     &:first-child
    //       width: 170px
    //       position: absolute
    //       left: 2%
    //       top: 90px
    //       z-index: -1
    //       +r(767)
    //         top: 40px
    //     &:nth-child(2)
    //       position: absolute
    //       right: 2%
    //       bottom: 70px
    //       z-index: -1
    //       width: 60px
    //   span
    //     width: 24px
    //     height: 24px
    //     background: $white
    //     border: 5px solid rgb(125, 205, 160)
    //     display: block
    //     border-radius: 100%
    //     position: absolute
    //     right: 11%
    //     top: 50px
    &__parallax
      position: absolute
      display: inline-block
      top: 0px
      font-size: 175px
      font-weight: bold
      color: rgba(18, 17, 74, 0.03)
      text-transform: uppercase
      z-index: -1
      +r(1360)
        font-size: 140px
      +r(1160)
        font-size: 120px
      +r(1000)
        font-size: 96px
      +r(767)
        font-size: 48px
      +r(400)
        font-size: 38px
        top: 20px
    h2
      font-size: 35.3px
      font-weight: normal
      color: #12114a
      margin-bottom: 110px
      text-align: center
      +r(767)
        margin-bottom: 30px
    &__block
      box-shadow: 0px 16px 28px 0 rgba(11, 11, 77, 0.14)
      background-color: $white
      width: 100%
      padding: 40px 30px
      +r(1040)
        margin-bottom: 20px
      h3
        font-size: 17px
        font-weight: normal
        color: #12114a
        margin-bottom: 20px
        text-align: left
      p
        font-size: 13.3px
        font-weight: normal
        line-height: 1.66
        text-align: left
        color: #707070
        max-width: 240px