.events_details
  &__intro
    background-image: linear-gradient(310deg, #2226a3, $dark)
    padding: 120px 0 50px
    &__img
      height: 100%
      width: 100%
      +center
      position: relative
      svg
        width: 100%
        height: 100%
        position: absolute
        left: 0 
        top: 0
      +r(1040)
        align-items: flex-start
        padding-top: 100px
      +r(767)
        background-position: 47% 0
        height: 340px
        align-items: center
        padding-top: 0
        padding-bottom: 50px
    &__text
      padding-left: 60px
      padding-right: 50px
      +r(1040)
        padding-left: 20px
      +r(767)
        padding: 0 !important
        padding-top: 20px !important
        position: relative
        top: -10px
      &__icon
        width: 50px
        height: 50px
        border-radius: 100%
        background: $white
        +center
        margin-right: 15px
        +r(767)
          margin-right: 6px
          width: 40px
          height: 40px
        img
          width: 30px
      ul
        position: relative
        z-index: 3
        display: flex
        align-items: center
        justify-content: space-between
        width: 620px
        margin-bottom: 65px
        +r(1040)
          width: 100%
          flex-direction: column
          align-items: flex-start
        +r(767)
          margin-bottom: 40px
      li
        display: flex
        align-items: center
        margin-bottom: 13px
        &:first-child
          font-size: 30px
          font-weight: bold
          color: $white
        &:nth-child(2)
          font-size: 14px
          font-weight: bold
          color: $white
        &:last-child
          font-size: 14px
          font-weight: bold
          color: $white
          text-transform: uppercase
      h2
        font-size: 35px
        font-weight: normal
        color: #ffffff
        margin-bottom: 50px
        +r(1040)
          font-size: 25px
        +r(767)
          margin-bottom: 15px

        span
          text-transform: uppercase
          font-size: 14px
          font-weight: bold
          line-height: 2.5
          letter-spacing: 0.8px
          color: #f20487
          display: block
      p
        font-size: 17px
        font-weight: normal
        line-height: 1.94
        color: #707070
        margin-bottom: 80px
        +r(1040)
          font-size: 15px
        +r(767)
          margin-bottom: 40px
      &__btn
        position: relative
        display: inline-flex
        &:before
          content: ''
          width: 113px
          height: 113px
          background: rgba(#d452ac, 0.07)
          position: absolute
          left: 18px
          top: 50%
          transform: translate(0%, -50%)
          border-radius: 100%
          z-index: -1
          +r(1040)
            left: 0px
        a:last-child
          padding: 13px 30px 10px
          border-radius: 25px
          border: solid 1px #ffffff
          color: #ffffff
          margin-left: 20px
          &:hover
            background-color: #4143ea
            border-color: #4143ea
        a
          font-size: 15px
          span
            font-size: 15px
          +r(1040)
            padding: 12px 12px 9px !important
  &__parallax
    position: absolute
    right: -200px
    top: 0px
    font-size: 175px
    font-weight: bold
    color: rgba(18, 17, 74, 0.03)
    text-transform: uppercase
    +r(1040)
      font-size: 120px
    +r(767)
      font-size: 50px !important
      right: -80px
  &__content
    position: relative
    padding: 230px 0 120px
    overflow: hidden
    background-color: #f8f8fa
    +r(767)
      padding: 70px 0 50px
    img
      max-width: 100%
      width: 400px
      +r(767)
        margin: 0 auto
  &__text
    +r(767)
      margin-bottom: 40px
    h2
      font-size: 39px
      font-weight: bold
      color: #12114a
      margin-bottom: 60px
      +r(767)
        margin-bottom: 30px
    p
      font-size: 18px
      font-weight: normal
      line-height: 1.94
      color: #707070
      padding-right: 40px
      +r(767)
        padding-right: 0
  &__triners
    position: relative
    padding: 160px 0
    overflow: hidden
    +r(767)
      padding: 70px 0
    &__parallax
      position: absolute
      right: -330px
      top: 80px
      font-size: 175px
      font-weight: bold
      color: rgba(18, 17, 74, 0.03)
      text-transform: uppercase
      +r(1040)
        font-size: 120px
      +r(767)
        font-size: 50px !important
        right: -80px
        top: 10px
    h2
      font-size: 39px
      font-weight: bold
      color: #12114a
      margin-bottom: 125px
      +r(767)
        margin-bottom: 10px
    &__container
      position: relative
    &__person
      width: 466px
      height: 445px
      border-radius: 13px
      box-shadow: -1.5px 12.4px 48.5px 0 rgba(0, 0, 0, 0.17)
      background-color: $white
      position: absolute
      left: 0
      top: 70px
      padding: 15px
      +center-column
      +r(1040)
        position: relative
        top: 0
        left: 50%
        transform: translate(-50%)
        margin-bottom: 30px
      +r(767)
        width: 100%
      h3
        font-size: 30px
        font-weight: bold
        text-align: center
        color: #110437
      &__img
        width: 240px
        height: 240px
        background-color: #12114a
        border-radius: 100%
        overflow: hidden
        margin-bottom: 35px
        img
          width: 100%
          height: 100%
          +object-fit(cover)
    &__content
      border-radius: 13px
      border: solid 1px #12114a
      background-color: $white
      padding: 85px 75px 35px
      padding-left: 35%
      +r(1100)
        padding-left: 40%
      +r(1040)
        padding: 50px
      +r(767)
        padding: 20px 15px
    &__text
      border-bottom: 1px solid #e7e7e7
      padding-bottom: 30px
      p
        font-size: 16px
        font-weight: normal
        line-height: 2.03
        color: #12114a
        display: inline
        &.none
          display: none
      a
        color: #12114a
        font-weight: bold
        display: inline
        +tr
        &.active
          padding-top: 10px
          display: block
        &:hover
          text-decoration: underline
    &__slider
      margin-top: 40px
      h4
        font-size: 21px
        font-weight: bold
        line-height: 1.39
        color: #110437
        margin-bottom: 40px
      .swiper-container
        padding-bottom: 50px
      .swiper-pagination
        text-align: left
        padding-left: 97px
        &-bullet
          width: 9px
          height: 9px
          opacity: 0.2
          background-color: #110437
          margin: 0 3px !important
          &-active
            color: #000000
            opacity: 1
      &__slide
        &:before
          content: $icon-quotes
          position: absolute
          left: 0
          top: 0
          font-size: 80px
          color: rgba(0, 0, 0, 0.1)
          font-family: "iconfont"
          display: block
          line-height: 1
          +r(767)
            font-size: 50px
        p
          font-size: 16px
          line-height: 2.03
          color: #12114a
          margin-bottom: 20px
          padding-left: 100px
          padding-right: 20px
          position: relative
          +r(767)
            padding: 0 15px
        strong
          font-size: 14px
          font-weight: 600
          line-height: 1.61
          color: #12114a
          display: block
          padding-left: 100px
          padding-right: 20px
          +r(767)
            padding: 0 15px
        span
          font-size: 14px
          color: #12114a
          display: block
          font-weight: normal
          color: #8d8d8d
          padding-left: 100px
          padding-right: 20px
          +r(767)
            padding: 0 15px
  &__gallery
    position: relative
    overflow: hidden
    background-color: #f8f8fa
    padding: 110px 0 170px
    +r(767)
      padding: 70px 0 30px
    // &__decor
    //   img
    //     z-index: 1
    //     &:first-child
    //       width: 170px
    //       position: absolute
    //       left: 2%
    //       top: 50%
    //       +r(767)
    //         top: 40px
    //     &:nth-child(2)
    //       position: absolute
    //       right: 2%
    //       bottom: 30%
    //       width: 68px
    //   span
    //     width: 24px
    //     height: 24px
    //     background: $white
    //     border: 5px solid rgb(125, 205, 160)
    //     display: block
    //     border-radius: 100%
    //     position: absolute
    //     right: 8%
    //     bottom: 45%
    //     z-index: 1
    .container
      position: relative
      z-index: 2
    &__parallax
      position: absolute
      right: -370px
      top: 30px
      font-size: 175px
      font-weight: bold
      color: rgba(18, 17, 74, 0.03)
      text-transform: uppercase
      +r(1040)
        font-size: 120px
      +r(767)
        font-size: 50px !important
        right: -100px
        top: 10px
    h2
      font-size: 39px
      font-weight: bold
      color: #12114a
      margin-bottom: 125px
      +r(767)
        margin-bottom: 30px
    &__block
      margin-bottom: 20px
      border-radius: 8px
      background-color: #898989
      overflow: hidden
      height: 245px
      img
        +object-fit(cover)
        width: 100%
        height: 100%