.login
  background-image: linear-gradient(to bottom, #f1f1fe, $pale-grey)
  height: 100vh
  +center
  position: relative
  #login, #password
    display: block
  &__step
    max-width: 450px
    width: 100%
    border-radius: 10px
    box-shadow: 0px 3.5px 20px 0 rgba(0, 0, 0, 0.06)
    background-color: #ffffff
    position: absolute
    left: 50%
    transform: translate(-50%)
    text-align: center
    padding: 40px 50px
    display: none
    +r(767)
      margin: 10px
      padding: 15px 20px
      position: absolute
      left: 0
      transform: none
      max-width: 100%
      width: calc(100% - 20px)
    +rh(500)
      top: 0
    img
      width: 95px
      padding-bottom: 25px
    h2
      font-size: 30px
      font-weight: normal
      color: $black-1
      padding-bottom: 75px
      +r(767)
        font-size: 27px
    &__input
      margin-bottom: 30px
      position: relative
      input
        width: 100%
        border-bottom: 1px solid $very-light-pink
        font-size: 14px
        font-weight: normal
        color: $black-1
        padding-bottom: 10px
        background: none
        &.focused
          & + label
            opacity: 0
        &:focus 
          & + label
            opacity: 0
        &:-webkit-autofill 
          & + label
            opacity: 0
        &:valid
          & + label
            opacity: 0
        &.error
          border-bottom: 1px solid $orangey-red
          & + label
            color: $orangey-red
      label
        font-size: 14px
        font-weight: normal
        color: $black-1
        position: absolute
        left: 0
        bottom: 10px
        +tr
        &:before
          content: ''
          position: absolute
          right: -10px
          top: 5px
          width: 6px
          height: 6px
          background-color: $orangey-red
          border-radius: 100%
      &--last
        margin-bottom: 20px
    &__forgot
      font-size: 12px
      font-weight: normal
      color: $black-1
      text-align: right
      display: block
      padding-bottom: 35px
      &:hover
        color: $bright-light-blue
    p
      font-size: 12px
      font-weight: normal
      color: rgba(37, 37, 37, 0.7)
      text-align: left
      display: block
      padding-bottom: 35px
      margin-top: -10px
    &__submit
      text-align: left
      .btn
        padding-top: 11px
    &__back
      font-size: 14px
      font-weight: normal
      text-align: left
      color: $black-1
      +center-y
      margin-top: 40px
      padding-bottom: 0
      i
        margin-right: 10px
    h3
      font-size: 14px
      font-weight: normal
      color: $black-1
      padding: 0 35px
#forgot__password_email_send
  h2
    padding-bottom: 30px
#password
  h2
    padding-bottom: 25px
  p
    text-align: center
    padding-bottom: 5px
  strong
    font-size: 14px
    font-weight: 600
    text-align: center
    color: $black-1
    margin-bottom: 50px
    display: block
#password-changed
  .icon-checked
    color: $fresh-green
    font-size: 46px
    margin-bottom: 25px
  h2
    font-weight: normal
    text-align: center
    color: $tree-green
    padding-bottom: 20px
  h3
    margin-bottom: 50px
  a
    font-size: 14px
    font-weight: normal
    color: $black-1
    +center
    &:hover
      color: $tree-green
    b
      font-weight: 600
      margin-left: 4px
    i
      padding-left: 15px
      padding-top: 1px