.manage-user
  background: rgb(244, 245, 249)
  display: flex
  .manage__table
    margin-top: 40px


  &__table
    .manage__table__content
      min-width: 950px
      +r(767)
        min-width: 800px
    td, th
      display: flex
      position: relative
      &:first-child
        width: 5%
      &:nth-child(2)
        width: 17%
      &:nth-child(3)
        width: 24%
      &:nth-child(4)
        width: 25%
      &:nth-child(5)
        width: 24%
      &:last-child
        width: 5%
    th
      ul
        left: 62px
        top: 10px
        width: 120px
        &:before
          left: calc(50% - 1px)
        +r(1250)
          left: 49px
          &:before
            left: calc(50% + 12px)
        +r(767)
          left: 28px
          &:before
            left: calc(50% + 27px)
        a
          &:before
            display: none




  &__create
    .manage__form__radio
      padding-top: 35px
      h3
        font-size: 14px
        font-weight: 600
        color: $charcoal-grey
        padding-bottom: 20px
      input
        display: none
        &:checked + label
          color: #3cc6f2
          &:before
            border: 3px solid #3cc6f2
            box-shadow: 0 0 0px 1px #3cc6f2
      label
        font-size: 14px
        font-weight: normal
        color: #616161
        margin-right: 20px
        position: relative
        +center
        display: inline-flex
        +tr
        +r(500)
          margin-right: 10px
        &:before
          content: ''
          width: 14px
          height: 14px
          opacity: 0.87
          border: 3px solid transparent
          box-shadow: 0 0 0px 1px #767676
          margin-right: 10px
          display: inline-block
          border-radius: 100%
          +tr
          +r(500)
            margin-right: 5px
    .manage-user__create__form
      padding-bottom: 0px
      overflow: hidden
    .manage__form__table
      width: calc(100% + 100px)
      margin-left: -50px
      margin-top: 35px
      display: block
      table, tbody, thead
        width: 100%
        display: block
      tr
        display: flex
        align-items: center
        padding: 0 50px
        +tr
        width: 100%
        &:nth-child(2n+1)
          background: #f2f2f2
      th
        p, label
          +r(767)
            font-size: 11px
      thead tr
        background: none !important
      td, th
        display: flex
        padding: 14px 0
        &:first-child
          width: 60%
          +r(767)
            width: 55%
        &:nth-child(2)
          width: 20%
          +r(767)
            width: 25%
        &:last-child
          width: 20%
      p, label
        font-size: 12px
        font-weight: bold
        text-transform: uppercase
        color: $charcoal-grey
      input
        display: none
        &:checked + label
          &:before
            background: #3cc6f2
            border-color: #3cc6f2
            color: $white
      label
        &:before
          content: '\EA03'
          width: 16px
          height: 16px
          opacity: 0.87
          border: solid 1px #767676
          font-family: "iconfont"
          color: transparent
          font-size: 10px
          +center
          display: inline-flex
          margin-right: 9px
          border-radius: 4px
          +tr
      td
        p
          font-size: 14px
          font-weight: normal
          text-transform: none
          color: $charcoal-grey
              