.our-services
  overflow: hidden
  &__intro
    background-image: url('../img/pages/our-services-image.jpg')
    +cover
    height: 440px
    +center
    margin-bottom: 185px
    position: relative
    +r(767)
      height: 250px
      margin-bottom: 50px
    .container
      position: relative
      height: 100%
    h1
      background-image: linear-gradient(150deg, #9f9cef, #3d30f3 99%), linear-gradient(to bottom, #7e75bd, #7e75bd)
      font-size: 100px
      font-weight: bold
      line-height: 1
      color: #7e75bd
      -webkit-background-clip: text
      background-clip: text
      -webkit-text-fill-color: transparent
      position: absolute
      bottom: 30%
      left: 3px !important
      right: auto
      display: block
      text-align: center
      text-transform: uppercase
      // +r(1150)
      //   font-size: 100px
      +r(767)
        font-size: 40px !important
  &__content
    position: relative
    &__decor
      span
        display: block
        position: absolute
        border-radius: 100%
        z-index: -1
        &:first-child
          width: 277px
          height: 277px
          opacity: 0.5
          border: solid 68px #30dffd
          left: -140px
          top: 0
          +r(767)
            display: none
        &:nth-child(2)
          width: 110px
          height: 110px
          opacity: 0.4
          right: 30px
          top: 16%
          background-color: #d452ac
        &:nth-child(3)
          width: 46px
          height: 46px
          opacity: 0.26
          left: 5%
          top: 45%
          background-color: #74a241
          +r(767)
            top: 39%
        &:last-child
          width: 49px
          height: 49px
          opacity: 0.65
          right: 30px
          bottom: 42%
          background-color: #30dffd
  &__block
    border-radius: 10px
    box-shadow: 0px 1px 23px 0 rgba(0, 0, 0, 0.08)
    border: solid 0 #000000
    background-color: $white
    margin: 0 7px 60px
    overflow: hidden
    display: block
    &:hover
      box-shadow: 0 25px 60px rgba(67,54,102,.2)
      .our-services__block__text
        top: -40px
    h2
      font-size: 21px
      font-weight: normal
      text-align: center
      color: #12114a
      margin-bottom: 35px
      +r(767)
        margin-bottom: 20px
    p
      font-size: 14px
      font-weight: normal
      line-height: 1.88
      text-align: center
      color: #707070
      margin-bottom: 55px
    i
      font-size: 25px
      font-weight: normal
      font-style: normal
      line-height: 1.2
      text-align: center
      color: rgba(40, 40, 40, 0.5)
      display: block
    path
      transition: all 0.2s
    &__img
      overflow: hidden
      height: 225px
      position: relative
      img
        width: 100%
        height: 100%
        +object-fit(cover)
      svg
        position: absolute
        bottom: 0
        left: 0
        width: 100%
    &__text
      padding: 40px 35px 70px
      position: relative
      top: 0
      transition: all 0.4s
      +r(767)
        padding: 30px 15px 50px