//BEGIN footer
footer.footer(class=footer__none)
  .footer__decor.footer__decor-1
    img(src="img/home/designs-footer-1.png", alt="")
  .footer__decor.footer__decor-2
  .footer__decor.footer__decor-3
    img(src="img/home/designs-footer-2.png", alt="")
  .footer__decor.footer__decor-4
  .footer__decor.footer__decor-5
    img(src="img/home/designs-footer-3.png", alt="")
  .container
    .row.center-xs
      .col-md-8.col-xs-12
        .footer__nav
          .footer__nav__column
            h4
              a(href="index.html") Home
          .footer__nav__column
            h4 
              a(href="about.html") About Us
            ul
              li
                a(href="about.html#our-journey" rel="#our-journey") Our Journey
              li
                a(href="about.html#our-vision" rel="#our-vision") Our Vision
              li 
                a(href="about.html#key-advisory-committee" rel="#key-advisory-committee") Key Advisory Committee
              li 
                a(href="about.html#business-development" rel="#business-development") Business Development
              li 
                a(href="about.html#statement" rel="#statement") The Mission Statement
          .footer__nav__column
            h4 
              a(href="our-services.html") Our Services
          .footer__nav__column
            h4
              a(href="our-events.html") Our Events
          .footer__nav__column
            h4
              a(href="contact.html") Contact Us
    .footer__social
      a(href="#")
        i.icon.icon-fb
      a(href="#")
        i.icon.icon-twitter
      a(href="#")
        i.icon.icon-in
    .footer__copyright
      p Copyright © 2019 Sync&Link All Rights Reserved.
      span Powered by evolve media solutions
//END footer