//BEGIN header
header.header(class=header__none)
  .container
    .row.middle-xs
      .col-sm-2.col-xs-7
        a(href="index.html").header__logo
          img(src="img/logo-3.png", alt="")
      .col-sm-10.col-xs-5
        .menu-open
          span
        nav.header__nav.hidden-xs
          ul
            li.active
              a(href="index.html") Home
            li
              a(href="about.html") About Us
                i.icon.icon-down-arrow
              ul.header__nav__dropdown
                li
                  a(href="about.html#our-journey" rel="#our-journey") Our Journey
                li
                  a(href="about.html#our-vision" rel="#our-vision") Our Vision
                li 
                  a(href="about.html#key-advisory-committee" rel="#key-advisory-committee") Key Advisory Committee
                li 
                  a(href="about.html#business-development" rel="#business-development") Business Development
                li 
                  a(href="about.html#statement" rel="#statement") The Mission Statement
            li
              a(href="our-services.html") Our Services
            li
              a(href="our-events.html") Our Events
            li
              a(href="contact.html") Contact Us
.header__menu__bg
.header__menu
  .menu-close
    span
  ul
    li.active
      a(href="index.html") Home
    li
      a(href="about.html") About Us
      ul
        li
          a(href="about.html#our-journey" rel="#our-journey") Our Journey
        li
          a(href="about.html#our-vision" rel="#our-vision") Our Vision
        li 
          a(href="about.html#key-advisory-committee" rel="#key-advisory-committee") Key Advisory Committee
        li 
          a(href="about.html#business-development" rel="#business-development") Business Development
        li 
          a(href="about.html#statement" rel="#statement") The Mission Statement
    li
      a(href="our-services.html") Our Services
    li
      a(href="our-events.html") Our Events
    li
      a(href="contact.html") Contact Us
//END header
