//BEGIN header
header.header(class=header__none)
  .container
    .row.middle-xs
      .col-sm-2.col-xs-7
        a(href="index.html").header__logo
          img(src="img/logo-3.png", alt="")
      .col-sm-10.col-xs-5
        .menu-open
          span
        nav.header__nav.hidden-xs
          ul
            li.active
              a(href="#") Home
            li
              a(href="#") About Us
                i.icon.icon-down-arrow
              ul.header__nav__dropdown
                li
                  a(href="#") Our Journey
                li
                  a(href="#") Our Vision
            li
              a(href="#") Our Services
                i.icon.icon-down-arrow
              ul.header__nav__dropdown
                li
                  a(href="#") Our Journey
                li
                  a(href="#") Our Vision
            li
              a(href="#") Our Events
            li
              a(href="#") Contact Us
.header__menu__bg
.header__menu
  .menu-close
    span
  ul
    li.active
      a(href="#") Home
    li
      a(href="#") About Us
      ul
        li
          a(href="#") Our Journey
        li
          a(href="#") Our Vision
    li
      a(href="#") Our Services
      ul
        li
          a(href="#") Our Journey
        li
          a(href="#") Our Vision
    li
      a(href="#") Our Events
    li
      a(href="#") Contact Us
//END header
