//BEGIN header
header.header(class=header__none)
  .container
    .row.middle-xs
      .col-xs-5
        .header__logo
          img(src="img/logo-1.png", alt="")
      .col-xs-7
        nav.header__nav
          ul
            li.active
              a(href="#") Home
            li
              a(href="#") About Us
                i.icon.icon-down-arrow
            li
              a(href="#") Our Services
                i.icon.icon-down-arrow
            li
              a(href="#") Our Events
            li
              a(href="#") Contact Us
//END header
