//BEGIN pop-up
//- .bg
//- .pop-up

.modal.warning#warning
  h3 Are you sure?
  p Are you sure that you want to perform this action?
  .warning__btn
    a(href="#close" rel="modal:close").btn.btn-primary
      span No
    a(href="#close" rel="modal:close").btn.btn-primary.manage__create__close
      span Yes
//END pop-up