.home-events
  padding: 160px 0
  position: relative
  +r(767)
    padding: 50px 0 20px
  .swiper-container
    max-height: 550px
    +r(1040)
      max-height: 100%
      padding-bottom: 100px
  .swiper-pagination
    padding-right: 10px
    +r(1040)
      padding-right: 0
      bottom: 0
  .swiper-pagination-bullet
    width: 20px
    height: 20px
    border-radius: 100%
    box-shadow: 0px 7px 24px 0 rgba(50, 50, 182, 0.38)
    background-color: $white
    opacity: 1
    margin: 16px 0 !important
    +r(1040)
      margin: 20px 10px !important
    &-active
      background: #4b1ece
  &__img
    // background-image: url('../img/home/events__img.png')
    // background-size: contain
    // background-repeat: no-repeat
    height: 100%
    width: 100%
    +center
    position: relative
    svg
      width: 100%
      height: 100%
      position: absolute
      left: 0 
      top: 0
    // svg > rect
    //   mask: url(#mask-1)
    +r(1040)
      align-items: flex-start
      padding-top: 100px
    +r(767)
      background-position: 47% 0
      height: 340px
      align-items: center
      padding-top: 0
      padding-bottom: 50px
    &__icon
      width: 50px
      height: 50px
      border-radius: 100%
      background: $white
      +center
      margin-right: 15px
      +r(767)
        margin-right: 6px
        width: 40px
        height: 40px
      img
        width: 30px
    ul
      position: relative
      z-index: 3
    li
      display: flex
      align-items: center
      margin-bottom: 13px
      &:first-child
        font-size: 30px
        font-weight: bold
        color: $white
      &:nth-child(2)
        font-size: 14px
        font-weight: bold
        color: $white
      &:last-child
        font-size: 14px
        font-weight: bold
        color: $white
        text-transform: uppercase
  &__text
    padding-left: 60px
    padding-right: 50px
    +r(1040)
      padding-left: 20px
    +r(767)
      padding: 0
      padding-top: 20px
      position: relative
      top: -10px
    h2
      a
        font-size: 35px
        font-weight: normal
        color: #12114a
        margin-bottom: 50px
        display: block
        +r(1040)
          font-size: 25px
        +r(767)
          margin-bottom: 15px

      span
        text-transform: uppercase
        font-size: 14px
        font-weight: bold
        line-height: 2.5
        letter-spacing: 0.8px
        color: #f20487
        display: block
    p
      font-size: 17px
      font-weight: normal
      line-height: 1.94
      color: #707070
      margin-bottom: 80px
      +r(1040)
        font-size: 15px
      +r(767)
        margin-bottom: 40px
    &__btn
      position: relative
      display: inline-flex
      a:last-child
        padding: 13px 33px 10px
        border-radius: 25px
        border: solid 1px #4143ea
        color: #4143ea
        margin-left: 20px
        &:hover
          background-color: #4143ea
          color: $white
      a
        font-size: 15px
        padding: 15px 33px 12px !important
        height: 50px
        +center
        border-radius: 25px
        &:before, &:after
          border-radius: 25px !important
        span
          font-size: 15px
        +r(1040)
          padding: 12px 12px 9px !important