.intro
  height: 870px
  background-image: url('../img/home/home-bg.jpg')
  +cover
  +r(767)
    height: 400px
  .container
    height: 100%
  &__title
    height: 100%
    +center-column
    align-items: flex-start
    +r(767)
      padding-top: 50px
    h1
      font-size: 100px
      font-weight: bold
      color: $white
      line-height: 0.9
      margin-bottom: 92px
      +r(767)
        font-size: 60px
        margin-bottom: 20px
      span
        width: 20px
        height: 20px
        display: inline-block
        background: #8f2793
        border-radius: 100%
    a
      font-size: 16px
      padding: 15px 30px 12px
      span
        font-size: 16px
        +r(767)
          font-size: 13px