.home-values
  padding: 230px 0 160px
  overflow: hidden
  position: relative
  h2
    font-size: 50px
    font-weight: bold
    color: #12114a
    text-align: center
    margin-bottom: 105px
  &__parallax
    position: absolute
    right: -25%
    top: -10px
    div
      font-size: 200px
      font-weight: bold
      color: rgba(18, 17, 74, 0.1)
      text-transform: uppercase
      line-height: 1
  &__block
    width: 100%
    max-width: 270px
    min-height: 380px
    +center-column
    border-radius: 8px
    +tr
    &:hover
      box-shadow: 0px 10px 43px 0 rgba(0, 0, 0, 0.09)
    img
      max-width: 105px
      width: 100%
      margin-bottom: 40px
    h3
      font-size: 22px
      font-weight: bold
      text-align: center
      color: #11134d
      margin-bottom: 30px
    p
      font-size: 15px
      font-weight: normal
      line-height: 1.67
      text-align: center
      color: #656565