@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-angle-pointing: "\EA01";
$icon-bell: "\EA02";
$icon-checked: "\EA03";
$icon-delete: "\EA04";
$icon-down-arrow: "\EA05";
$icon-edit: "\EA06";
$icon-left-arrow: "\EA07";
$icon-more: "\EA08";
$icon-plus: "\EA09";
$icon-right-arrow: "\EA0A";
$icon-search: "\EA0B";
$icon-sort-arrows: "\EA0C";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-angle-pointing:before { content: $icon-angle-pointing; }
.icon-bell:before { content: $icon-bell; }
.icon-checked:before { content: $icon-checked; }
.icon-delete:before { content: $icon-delete; }
.icon-down-arrow:before { content: $icon-down-arrow; }
.icon-edit:before { content: $icon-edit; }
.icon-left-arrow:before { content: $icon-left-arrow; }
.icon-more:before { content: $icon-more; }
.icon-plus:before { content: $icon-plus; }
.icon-right-arrow:before { content: $icon-right-arrow; }
.icon-search:before { content: $icon-search; }
.icon-sort-arrows:before { content: $icon-sort-arrows; }
