.icon-angle-pointing {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bell {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: #6ac259;
}
.icon-delete {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-down-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left-arrow {
  width: 1em;
  height: 1em;
  fill: #1e201d;
}
.icon-more {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-right-arrow {
  width: 1em;
  height: 1em;
  fill: #1e201d;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sort-arrows {
  width: 1em;
  height: 1em;
  fill: initial;
}
