aside.aside
  a(href="index.html").aside__logo
    img(src="img/logo-2.png", alt="")
  ul.aside__menu
    li
      a(href="#").aside__menu__item Dashboard
        img(src="img/dashboard.png", alt="") 
    li
      a(href="#").aside__menu__item Manage Users
        img(src="img/manage-users.png", alt="")
    li
      a(href="#").aside__menu__item Manage Events
        img(src="img/manage-events.png", alt="")
    li.is-active
      a(href="#").aside__menu__item Registered Users
        img(src="img/registered-users.png", alt="")
    li
      a(href="#").aside__menu__item Agenda Requests
        img(src="img/agenda-requests.png", alt="")
    li
      a(href="#").aside__menu__item Manage Invoices
        img(src="img/manage-invoices.png", alt="")
    li
      a(href="#").aside__menu__item Contact Form
        img(src="img/contact-form.png", alt="")
    li
      a(href="#").aside__menu__item Settings
        img(src="img/settings.png", alt="")