aside.aside
  .aside__content
    a(href="index.html").aside__logo
      img(src="img/logo-3.png", alt="")
    ul.aside__menu
      li
        a(href="#").aside__menu__item
          img(src="img/dashboard.png", alt="") 
          | Dashboard
      li
        a(href="#").aside__menu__item
          img(src="img/manage-users.png", alt="")
          | Manage Users
      li
        a(href="#").aside__menu__item
          img(src="img/manage-events.png", alt="")
          | Manage Events
      li.is-active
        a(href="#").aside__menu__item
          img(src="img/registered-users.png", alt="")
          | Registered Users
      li
        a(href="#").aside__menu__item
          img(src="img/agenda-requests.png", alt="")
          | Agenda Requests
      li
        a(href="#").aside__menu__item
          img(src="img/manage-invoices.png", alt="")
          | Manage Invoices
      li
        a(href="#").aside__menu__item
          img(src="img/contact-form.png", alt="")
          | Contact Form
      li
        a(href="#").aside__menu__item
          img(src="img/settings.png", alt="")
          | Settings