.manage__header
  .container
    .manage__header__content
      p Thursday, 28 March 2019  10:47 am (IST)
      .manage__header__notifications.drop-down--open
        i.icon.icon-bell
          span
        b 23
        ul
          li
            a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit.
          li
            a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit.
      .manage__header__user.drop-down--open
        span Vaishakh
          i.icon.icon-down-arrow
        ul
          li
            a(href="#") 
              i.icon.icon-settings
              | Settings
          li
            a(href="#") Logout
              i.icon.icon-logout