section.home-events
  .home-events__decor.home-events__decor-1
  .home-events__decor.home-events__decor-2
  .home-events__decor.home-events__decor-3
  .container
    .swiper-container.swiper-events
      .swiper-wrapper
        .swiper-slide
          .row
            .col-sm-6.col-xs-12
              .home-events__img
                ul
                  li 
                    .home-events__img__icon
                      img(src="img/home/euro.png", alt="")
                    | €290
                  li 
                    .home-events__img__icon
                      img(src="img/home/locations.png", alt="")
                    | Antwerp, Belgium
                  li 
                    .home-events__img__icon
                      img(src="img/home/date.png", alt="")
                    | 23/11/2019 - 27/11/2018
            .col-sm-6.col-xs-12
              .home-events__text
                h2
                  span Upcoming Events
                  | Advanced Shutdown Turnaround and Outage Management Excellence – 2019
                p Pixel Pioneers, a one-day conference for web and UX designers and front-end developers, will take place on the 23rd of November 2019 in Belfast.
                .home-events__text__btn
                  a(href="#").btn.btn-primary
                    span Register Now
                  a(href="#").btn Request Agenda
        .swiper-slide
          .row
            .col-sm-6.col-xs-12
              .home-events__img
                ul
                  li 
                    .home-events__img__icon
                      img(src="img/home/euro.png", alt="")
                    | €290
                  li 
                    .home-events__img__icon
                      img(src="img/home/locations.png", alt="")
                    | Antwerp, Belgium
                  li 
                    .home-events__img__icon
                      img(src="img/home/date.png", alt="")
                    | 23/11/2019 - 27/11/2018
            .col-sm-6.col-xs-12
              .home-events__text
                h2
                  span Upcoming Events
                  | Advanced Shutdown Turnaround and Outage Management Excellence – 2019
                p Pixel Pioneers, a one-day conference for web and UX designers and front-end developers, will take place on the 23rd of November 2019 in Belfast.
                .home-events__text__btn
                  a(href="#").btn.btn-primary
                    span Register Now
                  a(href="#").btn Request Agenda
        .swiper-slide
          .row
            .col-sm-6.col-xs-12
              .home-events__img
                ul
                  li 
                    .home-events__img__icon
                      img(src="img/home/euro.png", alt="")
                    | €290
                  li 
                    .home-events__img__icon
                      img(src="img/home/locations.png", alt="")
                    | Antwerp, Belgium
                  li 
                    .home-events__img__icon
                      img(src="img/home/date.png", alt="")
                    | 23/11/2019 - 27/11/2018
            .col-sm-6.col-xs-12
              .home-events__text
                h2
                  span Upcoming Events
                  | Advanced Shutdown Turnaround and Outage Management Excellence – 2019
                p Pixel Pioneers, a one-day conference for web and UX designers and front-end developers, will take place on the 23rd of November 2019 in Belfast.
                .home-events__text__btn
                  a(href="#").btn.btn-primary
                    span Register Now
                  a(href="#").btn Request Agenda
      .swiper-pagination.swiper-pagination-events