section.home-events
  .home-events__decor.home-events__decor-1
  .home-events__decor.home-events__decor-2
  .home-events__decor.home-events__decor-3
  .container
    .swiper-container.swiper-events
      .swiper-wrapper
        .swiper-slide
          .row
            .col-sm-6.col-xs-12
              .home-events__img
                svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='1148.000000', height='1098.000000', viewBox='0 0 1148.000000 1098.000000', preserveAspectRatio='xMidYMid meet')
                  defs
                    mask#mask-1
                      g(transform='translate(0.000000,1098.000000) scale(0.100000,-0.100000)', fill='#fff', stroke='none')
                        path(d='M3165 10974 c-283 -17 -430 -27 -550 -40 -990 -103 -1703 -356 -2113 -748 -269 -259 -410 -572 -478 -1066 -22 -157 -25 -650 -6 -845 59 -580 193 -1187 409 -1850 645 -1977 1897 -4100 3135 -5310 647 -634 1225 -987 1778 -1087 149 -26 442 -29 603 -5 842 127 1783 693 2737 1647 1364 1365 2437 3218 2725 4709 56 290 69 434 69 746 1 232 -3 313 -17 405 -64 409 -192 705 -434 1005 -626 776 -1973 1475 -3759 1949 -935 248 -1921 408 -2949 476 -155 11 -1029 21 -1150 14z')
                  image(width='3375', height='1743', xlink:href='img/home/home-bg.jpg', mask='url(#mask-1)')
                ul
                  li 
                    .home-events__img__icon
                      img(src="img/home/euro.png", alt="")
                    | €290
                  li 
                    .home-events__img__icon
                      img(src="img/home/locations.png", alt="")
                    | Antwerp, Belgium
                  li 
                    .home-events__img__icon
                      img(src="img/home/date.png", alt="")
                    | 23/11/2019 - 27/11/2018
            .col-sm-6.col-xs-12
              .home-events__text
                h2
                  span Upcoming Events
                  | Advanced Shutdown Turnaround and Outage Management Excellence – 2019
                p Pixel Pioneers, a one-day conference for web and UX designers and front-end developers, will take place on the 23rd of November 2019 in Belfast.
                .home-events__text__btn
                  a(href="#").btn.btn-primary
                    span Register Now
                  a(href="#").btn Request Agenda
        .swiper-slide
          .row
            .col-sm-6.col-xs-12
              .home-events__img
                svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='1148.000000', height='1098.000000', viewBox='0 0 1148.000000 1098.000000', preserveAspectRatio='xMidYMid meet')
                  defs
                    mask#mask-1
                      g(transform='translate(0.000000,1098.000000) scale(0.100000,-0.100000)', fill='#fff', stroke='none')
                        path(d='M3165 10974 c-283 -17 -430 -27 -550 -40 -990 -103 -1703 -356 -2113 -748 -269 -259 -410 -572 -478 -1066 -22 -157 -25 -650 -6 -845 59 -580 193 -1187 409 -1850 645 -1977 1897 -4100 3135 -5310 647 -634 1225 -987 1778 -1087 149 -26 442 -29 603 -5 842 127 1783 693 2737 1647 1364 1365 2437 3218 2725 4709 56 290 69 434 69 746 1 232 -3 313 -17 405 -64 409 -192 705 -434 1005 -626 776 -1973 1475 -3759 1949 -935 248 -1921 408 -2949 476 -155 11 -1029 21 -1150 14z')
                  image(width='3375', height='1743', xlink:href='img/home/home-bg.jpg', mask='url(#mask-1)')
                ul
                  li 
                    .home-events__img__icon
                      img(src="img/home/euro.png", alt="")
                    | €290
                  li 
                    .home-events__img__icon
                      img(src="img/home/locations.png", alt="")
                    | Antwerp, Belgium
                  li 
                    .home-events__img__icon
                      img(src="img/home/date.png", alt="")
                    | 23/11/2019 - 27/11/2018
            .col-sm-6.col-xs-12
              .home-events__text
                h2
                  span Upcoming Events
                  | Advanced Shutdown Turnaround and Outage Management Excellence – 2019
                p Pixel Pioneers, a one-day conference for web and UX designers and front-end developers, will take place on the 23rd of November 2019 in Belfast.
                .home-events__text__btn
                  a(href="#").btn.btn-primary
                    span Register Now
                  a(href="#").btn Request Agenda
        .swiper-slide
          .row
            .col-sm-6.col-xs-12
              .home-events__img
                svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='1148.000000', height='1098.000000', viewBox='0 0 1148.000000 1098.000000', preserveAspectRatio='xMidYMid meet')
                  defs
                    mask#mask-1
                      g(transform='translate(0.000000,1098.000000) scale(0.100000,-0.100000)', fill='#fff', stroke='none')
                        path(d='M3165 10974 c-283 -17 -430 -27 -550 -40 -990 -103 -1703 -356 -2113 -748 -269 -259 -410 -572 -478 -1066 -22 -157 -25 -650 -6 -845 59 -580 193 -1187 409 -1850 645 -1977 1897 -4100 3135 -5310 647 -634 1225 -987 1778 -1087 149 -26 442 -29 603 -5 842 127 1783 693 2737 1647 1364 1365 2437 3218 2725 4709 56 290 69 434 69 746 1 232 -3 313 -17 405 -64 409 -192 705 -434 1005 -626 776 -1973 1475 -3759 1949 -935 248 -1921 408 -2949 476 -155 11 -1029 21 -1150 14z')
                  image(width='3375', height='1743', xlink:href='img/home/home-bg.jpg', mask='url(#mask-1)')
                ul
                  li 
                    .home-events__img__icon
                      img(src="img/home/euro.png", alt="")
                    | €290
                  li 
                    .home-events__img__icon
                      img(src="img/home/locations.png", alt="")
                    | Antwerp, Belgium
                  li 
                    .home-events__img__icon
                      img(src="img/home/date.png", alt="")
                    | 23/11/2019 - 27/11/2018
            .col-sm-6.col-xs-12
              .home-events__text
                h2
                  span Upcoming Events
                  | Advanced Shutdown Turnaround and Outage Management Excellence – 2019
                p Pixel Pioneers, a one-day conference for web and UX designers and front-end developers, will take place on the 23rd of November 2019 in Belfast.
                .home-events__text__btn
                  a(href="#").btn.btn-primary
                    span Register Now
                  a(href="#").btn Request Agenda
      .swiper-pagination.swiper-pagination-events