section.intro
  .container
    .intro__title
      h1 Attend
        span
        | <br>Engage
        span
        | <br>Grow
        span
      a(href="#").btn.btn-primary
        span BROWSE EVENTS