section.home-locations
  .home-locations__parallax
    div Get Direction
  .home-locations__bg.home-locations__bg-1
    img(src="img/home/locations-icon-2.png", alt="")
  .home-locations__bg.home-locations__bg-2
    img(src="img/home/locations-icon-1.png", alt="")
  .home-locations__content
    .container
      h2 Locations
      .row
        .col-sm-5.col-xs-12
          .home-locations__block
            .home-locations__block__img
              img(src="img/home/india.png", alt="")
            h4 Bengaluru, India
            p Washington State Convention Center 705 Pike Street ,Seattle, WA 98101
            a(href="tel:2066945000") Phone: 206-694-5000
          .home-locations__block
            .home-locations__block__img
              img(src="img/home/dubai.png", alt="")
            h4 Dubai, UAE
            p Washington State Convention Center 705 Pike Street ,Seattle, WA 98101
            a(href="tel:2066945000") Phone: 206-694-5000
          .home-locations__block
            .home-locations__block__img
            h4 Antwerp, Belgium
            p Washington State Convention Center 705 Pike Street ,Seattle, WA 98101
            a(href="tel:2066945000") Phone: 206-694-5000
        .col-sm-7.col-xs-12
          .home-locations__map#map
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8231.82533447571!2d77.56764899461552!3d12.985662806546674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1555672820476!5m2!1sen!2sua" allowfullscreen)
