section.home-values
  .home-values__decor.home-values__decor-1
    img(src="img/home/cirlce-1.png", alt="")
  .home-values__decor.home-values__decor-2
    img(src="img/home/designs-1.png", alt="")
  .container
    .home-values__parallax
      div Our Values
    h2 Our Values
    .row
      .col-xs-3
        a(href="#").home-values__block
          img(src="img/home/values-icon-1.png", alt="")
          h3 Integrity
          p The building block of Excellence
      .col-xs-3
        a(href="#").home-values__block
          img(src="img/home/values-icon-2.png", alt="")
          h3 Quality
          p Focus on the Process
      .col-xs-3
        a(href="#").home-values__block
          img(src="img/home/values-icon-3.png", alt="")
          h3 Perseverance
          p Keep at it, Sustain during all odds.
      .col-xs-3
        a(href="#").home-values__block
          img(src="img/home/values-icon-4.png", alt="")
          h3 Trust
          p Foundation of great Business Relationship