section.home-values
  .container
    .home-values__parallax(data-aos="fade-left")
      div Our Values
    h2 Our Values
    .row
      .col-md-3.col-sm-6.col-xs-12
        a(href="#").home-values__block
          img(src="img/home/values-icon-1.png", alt="")
          h3 Integrity
          p The building block of Excellence
      .col-md-3.col-sm-6.col-xs-12
        a(href="#").home-values__block
          img(src="img/home/values-icon-2.png", alt="")
          h3 Quality
          p Focus on the Process
      .col-md-3.col-sm-6.col-xs-12
        a(href="#").home-values__block
          img(src="img/home/values-icon-3.png", alt="")
          h3 Perseverance
          p Keep at it, Sustain during all odds.
      .col-md-3.col-sm-6.col-xs-12
        a(href="#").home-values__block
          img(src="img/home/values-icon-4.png", alt="")
          h3 Trust
          p Foundation of great Business Relationship