html
body
  font-family: 'Eina03', sans-serif
  font-size: 14px
  box-sizing: border-box
  position: relative
.container
  width: 100% !important
  max-width: 1160px
  box-sizing: border-box
  +r(1250)
    padding: 0 15px
a
  text-decoration: none
  transition: all 0.3s
input[type="submit"]
  appearance: none
  -webkit-appearance: none
textarea
  resize: none


+r(767)
	.hidden-xs
		display: none !important
@media only screen and (min-width: 768px) and (max-width: 1024px)
	.hidden-sm
		display: none !important
+rmin(1024)
	.hidden-md
		display: none !important


.btn
  border-radius: 20px
  padding: 12px 30px
  +tr
  display: inline-flex
  font-size: 14px
  font-weight: bold
  line-height: 1
  &-primary
    background: $bright-light-blue
    color: $white
    border: 1px solid $bright-light-blue
    &:hover
      background: $white
      color: $bright-light-blue
  &-open
    background-color: $fresh-green
    border: 1px solid $fresh-green
    color: $white
    padding: 10px 15px
    font-size: 12px
    text-transform: uppercase
    &:hover
      color: $fresh-green
      background: none
  &-closed
    border: 1px solid $strawberry
    color: $strawberry
    padding: 10px 12px
    font-size: 12px
    text-transform: uppercase
    font-weight: normal
    &:hover
      color: $white
      background: $strawberry
  &-secondary
    border-radius: 18px
    color: $bright-light-blue
    border: 1px solid $bright-light-blue
    padding: 9px 13px
    font-weight: 600
    &:hover
      background: $bright-light-blue
      color: $white



.breadcrumbs
  +center-y
  margin-top: 11px
  li
    a
      font-size: 12px
      font-weight: 600
      color: $bright-light-blue
      position: relative
      &:hover
        color: $dark
      &:after
        content: '/'
        font-size: 12px
        color: $dark
        margin: 0 5px
  li:last-child
    a
      font-weight: normal
      cursor: default
      color: $dark
      &:hover
        color: $dark
      &:after
        display: none

.datepicker
  border-radius: 10px
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.24)
  background-color: $white
  border: none
  width: 315px
  +r(767)
    width: 280px
.datepicker--pointer
  border: none
  top: -5px
  left: 55px !important
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.24)
  z-index: 1
.datepicker--nav-title, .datepicker--day-name
  color: #34c9f6
.datepicker--nav-action path
  stroke: #34c9f6
.datepicker--nav
  border: none
  position: relative
  z-index: 2
  border-radius: 10px
  background: $white
.datepicker--cell.-selected-
  border-radius: 100%
.datepicker--cell-day
  width: 22px
  margin: 12px 10.9px
  height: 22px
  font-size: 12px
  +r(767)
    margin: 7px 8.4px
  &:hover
    background: #34c9f6
    color: $white





.pages
  padding-top: 30px
  h1
    color: $bright-light-blue
    font-size: 30px
    padding-bottom: 30px
  ul
    padding-top: 20px
    a
      font-size: 18px
      padding: 5px 0
      color: $charcoal-grey
      display: block
      &:hover
        color: $bright-light-blue